@font-face {
  font-family: 'Rubik';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../fonts/rubik-300.woff2') format('woff2'),
    url('../fonts/rubik-300.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/rubik-400.woff2') format('woff2'),
    url('../fonts/rubik-400.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/rubik-500.woff2') format('woff2'),
    url('../fonts/rubik-500.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

li {
  list-style-type: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

a {
  text-decoration: none;

}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}

body {
  font-family: 'Rubik', 'Tahoma';
  font-size: 20px;
  line-height: 1.3;
  font-weight: 400;
  color: #31352b;
  background-color: #f9faff;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.hero__img {
  display: block;
  height: 660px;
  background-repeat: no-repeat;
}

.hero__nav {
  height: 160px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.logo {
  max-width: 200px;
}

.logo__hero {
  position: absolute;
  top: 58px;
}

.hero__nav-right {
  display: flex;
}

.hero__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero__link {
  position: relative;
  top: 50%;
  transform: translateY(50%);
  font-size: 18px;
  color: #31352b;
  outline: 0 solid transparent;
  border: solid 2px transparent;
  transition: all 0.3s ease-in-out;
}

.hero-btn:last-child {
  margin-right: 41px;
}

.hero-btn:not(:last-child) {
  margin-right: 45px;
}

.hero-btn:focus {
  outline: transparent;
  border-radius: 5px;
  border: solid 2px #ff9573;
}

.hero-btn:hover {
  color: #ff6838;
  border-radius: 5px;
  border: solid 2px transparent;
}

.hero-btn:active {
  text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  color: #31352b;
  border: solid 2px transparent;
  box-shadow: none;
}

.hero__icons {
  height: 45px;
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 54px;
  margin-right: 4px;
}

.hero__search,
.hero__cart {
  display: block;
  margin-right: 10px;
  height: 44px;
  width: 44px;
  border-radius: 5px;
  border: solid 2px transparent;
  transition: all 0.3s;
  outline: 0 solid transparent;
}


.hero__search:focus {
  background-color: #fff2ee;
  border: solid 2px #ff9573;
}

.hero__search:hover {
  background-color: #ff7a50;
  border: solid 2px transparent;
}

.hero__search:active {
  background-color: #fff2ee;
}

.hero__cart {
  position: relative;
  margin-right: 4px;
}

.hero__cart:focus {
  background-color: #fff2ee;
  border: solid 2px #ff9573;
}

.hero__cart:hover {
  background-color: #ff7a50;
}

.hero__cart:active {
  background-color: #fff2ee;
  border: solid 2px transparent;
}

.hero__search-icon,
.hero__cart-icon {
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(45%, 45%);
  width: 23px;
  height: 23px;
  transition: all 0.3s;
}

.hero__search-icon {
  background-image: url('../images/icons/search_icon.svg');
  transition: filter 0.3s;
  transform: translate(42%, 42%);
  filter: invert(20%) sepia(13%) saturate(1405%) hue-rotate(198deg) brightness(97%) contrast(91%);
}

.hero__search:hover .hero__search-icon {
  filter: invert(90%) sepia(2%) saturate(1850%) hue-rotate(327deg) brightness(107%) contrast(102%);
  border-color: transparent;
}

.hero__search:active .hero__search-icon {
  filter: invert(20%) sepia(13%) saturate(1405%) hue-rotate(198deg) brightness(97%) contrast(91%);
}

.hero__search-icon:active {
  filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(156deg) brightness(95%) contrast(98%);
}

.hero__cart-icon {
  background-image: url('../images/icons/cart_icon.svg');
  transform: translate(27%, 45%);
  filter: invert(20%) sepia(13%) saturate(1405%) hue-rotate(198deg) brightness(97%) contrast(91%);
  transition: all 0.3s;
}

.hero__cart-num {
  position: absolute;
  top: 8px;
  right: 0;
  background-color: #ff6838;
  border-radius: 50%;
  color: #ececec;
  width: 14px;
  height: 14px;
  font-size: 10px;
  line-height: 15px;
  transition: all 0.3s;
}

.hero__cart:hover .hero__cart-icon {
  filter: invert(90%) sepia(2%) saturate(1850%) hue-rotate(327deg) brightness(107%) contrast(102%);
}

.hero__cart:active .hero__cart-icon {
  filter: invert(20%) sepia(13%) saturate(1405%) hue-rotate(198deg) brightness(97%) contrast(91%);
}

.hero__cart:hover .hero__cart-num {
  color: #ff6838;
  background-color: #ffffff;
}

.hero__cart:active .hero__cart-num {
  color: #ffffff;
  background-color: #ff6838;
}

.hero__center {
  display: flex;
  justify-content: space-between;
}

.hero__left {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  max-width: 450px;
}

.hero__text {
  display: flex;
  display: inline-block;
  line-height: 1.5;
  margin-bottom: 20px;

}

.hero__img {
  display: flex;
  min-width: 560px;
  height: 660px;
  background-image: url('../images/skills_content.jpg');
  background-repeat: no-repeat;
}

.hero__title {
  color: #363853;
  font-size: 66px;
  font-weight: 500;
  text-transform: uppercase;
}

.hero__title span {
  display: inline-block;
  color: #ff6838;
  margin-bottom: 20px;
}

.hero__bottom {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: transparent;
  border-radius: 6px;
  background-color: #ff6838;
  color: #fff;
  transition: all 0.3s ease-in-out;

}

.headear--button {
  margin-right: 35px;
  width: 147px;
  height: 47px;
}

.headear--button:focus {
  outline: transparent;
  border-radius: 5px;
  border: solid 2px #ff9573;
  background-color: #fff2ee;
  color: #ff6838;
}

.headear--button:hover {
  background-color: #ffffff;
  border: solid 2px #ff9573;
  color: #ff6838;
  border-radius: 5px;
  box-shadow: 0px 5px 12px rgba(255, 104, 56, 0.2);
}

.headear--button:active {
  background-color: #fff2ee;
  color: #ff6838;
  border: none;
  box-shadow: none;
}

.hero__detail {
  display: block;
  height: 23px;
  margin-top: 10px;
  text-decoration: underline;
  color: #313853;
  border-radius: 5px;
}

.hero__detail:focus {
  /* outline: transparent; */
  text-decoration: none;
  outline: solid 2px #ff9573;
}

.hero__detail:hover {
  color: #ff6838;
  outline: transparent;
}

.hero__detail:active {
  text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  color: #31352b;
  background-color: #ffffff;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  color: #363853;
  font-size: 36px;
  text-align: center;
  font-weight: 500;
}

.category__title {
  padding-top: 120px;
  margin-bottom: 60px;
}

.category__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  max-width: 1122px;
}

.category-item {
  display: flex;
  flex-direction: row;
  border-color: transparent;
}



.category__btn {
  border: 1px solid #ececec;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.category__btn:focus {
  outline: transparent;
  border: 2px solid #ff6838;
  color: #FFF2EE;

}

.category__btn:hover {
  background-color: #fff2ee;
  color: #ff6838;
}

.category__btn:active {
  background-color: #fff2ee;
  color: #363853;
  border: transparent;
  box-shadow: inset 0px 0px 12px rgba(255, 104, 56, 0.2);
  transition: all 0.2s;
}

.category__btn:focus .category__icon {
  filter: invert(90%) sepia(2%) saturate(1850%) hue-rotate(327deg) brightness(107%) contrast(102%);
}

.category__btn:hover .category__icon {
  filter: invert(57%) sepia(26%) saturate(6717%) hue-rotate(337deg) brightness(101%) contrast(101%);
}

.category__btn:active .category__icon {
  filter: invert(19%) sepia(11%) saturate(1866%) hue-rotate(198deg) brightness(96%) contrast(88%);
}


.category__icon {
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  margin-left: 32px;
}

.category__icon--burger {
  background-image: url('../images/icons/icon-category-burger.svg');
}

.category__icon--pizza {
  background-image: url('../images/icons/icon-category-pizza.svg');
}

.category__icon--sandwiches {
  background-image: url('../images/icons/icon-category-sandvich.svg');
}

.category__icon--asia {
  background-image: url('../images/icons/icon-category-asia.svg');
  width: 50px;
  height: 50px;
}

.category__icon--dish {
  background-image: url('../images/icons/icon-category-dish.svg');
}

.category__text {
  margin-right: 32px;
  font-weight: 400;
  font-size: 20px;
}

.category__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-bottom: 60px;
}

.grid-item {
  object-fit: cover;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ececec;
  font-size: 15px;
}

.grid-item__icon {
  display: flex;
  max-width: 140px;
  margin: 20px auto 6px;
}

.grid-item__text {
  display: flex;
  padding-bottom: 11px;
}

.grid-item__cost {
  display: flex;
  padding-bottom: 10px;
  font-weight: 500;
}

.grid-item__button {
  display: flex;
  width: 100px;
  height: 32px;
  margin-bottom: 20px;
}

.category__show-more {
  display: block;
  text-align: center;
  text-decoration: underline;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-top-item {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #31352b;
}

.footer-top__logo {
  margin-bottom: 30px;
}

.footer-top__input {
  border: solid 1px #c2c2c2;
  margin-bottom: 12px;
  text-indent: 12px;
  color: #c2c2c2;

}

.footer-top__input,
.footer-top__btn {
  border-radius: 5px;
  position: relative;
  width: 100%;
  height: 44px;
  transition: all 0.3s;
}

.footer-top__btn::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 15px;
  background-image: url('../Images/icons/icon-send.svg');
  background-repeat: no-repeat;
  left: 30px;
}

.footer-top__btn-text {
  padding-left: 25px;
}

.footer-top__btn:focus {
  background-color: #fff2ee;
  color: #ff6838;
  border: 2px solid #ff9674;
  outline: transparent;
}

.footer-top__btn:hover {
  background-color: #fff2ed;
  color: #ff6838;
  border: 2px solid #ff9674;
}

.footer-top__btn:active {
  background-color: #fff2ee;
  color: #ff6838;
  border: transparent;
}

.footer-top__btn:focus:before,
.footer-top__btn:hover:before,
.footer-top__btn:active:before {
  filter: invert(59%) sepia(61%) saturate(4545%) hue-rotate(338deg) brightness(104%) contrast(101%);
}


.footer-top__input:focus {
  color: #c2c2c2;
  border: 2px solid #ff6838;
  outline: transparent;
}

.footer-top__input:hover {
  color: #363853;
  outline: transparent;
}

.footer-top__all-media {
  display: flex;
  flex-direction: column;
}

.footer-top__feedback {
  display: flex;
  flex-direction: column;
  padding-left: 29px;
}

.footer-top__adress,
.footer-top__tel,
.footer-top__email,
.footer-top__link {
  color: #31352b;
  margin-bottom: 20px;
  display: block;
  position: relative;
}

.footer-top__adress::before,
.footer-top__tel::before,
.footer-top__email::before {
  position: absolute;
  content: '';
  left: -30px;
  width: 28px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.footer-top__tel::before {
  height: 26px;
}

.footer-top__email::before {
  height: 25px;
}

.footer-top__adress::before {
  background-image: url('../images/icons/icon-location.svg');
}

.footer-top__tel::before {
  background-image: url('../images/icons/icon-call.svg');
}

.footer-top__email::before {
  background-image: url('../images/icons/icon-message.svg');
}

.footer-top__socuailmedias {
  display: flex;
  flex-direction: row;
  gap: 13px;
  max-width: 143px;
}

.footer-top__socialmedia {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50px;
  width: 50px;
  background-color: #ececec;
  border: solid 2px transparent;
  border-radius: 50%;
  transition: all 0.3s;
}

.footer-top__socialmedia:focus {
  border-color: #ff9674;
  background-color: #fff2ed;
}

.footer-top__socialmedia:hover {
  background-color: #ff7a50;
  border: solid 2px transparent;
}

.footer-top__socialmedia:active {
  background-color: #fff2ed;
  border: solid 2px transparent;
}

.footer-top__facebook,
.footer-top__twitter,
.footer-top__instagram {
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.footer-top__facebook {
  background-image: url('../images/icons/icon-facebook.svg');
}

.footer-top__twitter {
  background-image: url('../images/icons/icon-twitter.svg');
}

.footer-top__instagram {
  background-image: url('../images/icons/icon-instagram.svg');
}

.footer-top__socialmedia:hover .footer-top__facebook,
.footer-top__socialmedia:hover .footer-top__twitter,
.footer-top__socialmedia:hover .footer-top__instagram {
  filter: invert(90%) sepia(2%) saturate(1850%) hue-rotate(327deg) brightness(107%) contrast(102%);
}

.footer-top__socialmedia:active .footer-top__facebook,
.footer-top__socialmedia:active .footer-top__twitter,
.footer-top__socialmedia:active .footer-top__instagram {
  filter: invert(58%) sepia(64%) saturate(907%) hue-rotate(324deg) brightness(98%) contrast(107%);
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  font-size: 14px;
  border: solid 1px #eeeff3;
  line-height: 1;
}