$c-orange-900: #ff6838;
$c-border-color: #ff9674;
$c-icon-color: #ff7a50;
$c-focus-bg-color: #fff2ed;
$c-slider-borrder-focus:#ffae94;
$c-white: #ffffff;
$c-silver-200: #ececec;
$c-darkBlue-900: #363853;
$c-dark: #31352b;
$c-grey:#c2c2c2;