@font-face {
  font-family: 'rubik-300';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/rubik-300.woff2') format('woff2');
  src: url('../fonts/rubik-300.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'rubik-400';
  src: url('../fonts/rubik-400.woff2');
  src: url('../fonts/rubik-400.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rubik-500';
  src: url('../fonts/rubik-500.woff2');
  src: url('../fonts/rubik-500.woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}