$btn-color: #ff6838;
$border-color: #ff9674;
$icon-color: #FF7A50;
$focus-bg-color: #fff2ed;
$white-color: #ffffff;
$cart-num-color: #ececec;
$title-color: #363853;
$text-color: #31352b;
$text-input:#c2c2c2;

%rubik-300 {
  font-family: 'rubik-300', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'rubik-400', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'rubik-500', sans-serif;
  font-weight: 500;
}