@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

%Rubik {
  font-family: 'Rubik', sans-serif;
}

%Rubik {
  font-family: 'Rubik', sans-serif;
}

%Rubik {
  font-family: 'Rubik', sans-serif;
}

%Rubik {
  font-family: 'Rubik', sans-serif;
}

$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;
