@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: 1;

  &__logo {
    display: flex;
    max-height: 39px;
    margin: auto 0;
  }

  &__nav {
    height: 160px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    justify-content: space-between;
  }

  &__nav-right {
    display: flex;
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    position: relative;
    top: 50%;
    transform: translateY(50%);
    font-size: 18px;
    color: $text-color;
    outline: transparent;
    border-radius: 5px;
    border: solid 2px transparent;
    transition: all 0.3s ease-in-out;
  }

  &__link:focus {
    border: solid 2px $btn-color;
    border: solid 2px $border-color;
  }

  &__link:hover {
    color: $btn-color;
  }

  &__link:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    color: $text-color;
    border: solid 2px transparent;
    box-shadow: none;
  }

  &__icons {
    height: 45px;
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 58px;
    margin-right: 4px;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    height: 44px;
    width: 44px;
    border-radius: 5px;
    border: solid 2px transparent;
    transition: all 0.3s ease-in-out;
    outline: 0 solid transparent;
  }

  &__search:focus {
    background-color: $focus-bg-color;
    border: solid 2px $border-color;
  }

  &__search:hover {

    background-color: $icon-color;
    border: solid 2px transparent;
  }

  &__search:active {
    background-color: $focus-bg-color;
  }

  &__search-icon {
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    width: 23px;
    height: 23px;
    -webkit-mask-image: url('../images/sprite.svg#search_icon');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: $title-color;
    transition: all 0.3s ease-in-out;
  }

  &__search:hover &__search-icon {
    background-color: $white-color;
  }

  &__search:active &__search-icon {
    background-color: $text-color;
  }

  &__cart {
    display: flex;
    position: relative;
    left: 4px;
    height: 44px;
    width: 44px;
    border-radius: 5px;
    border: solid 2px transparent;
    transition: all 0.3s ease-in-out;
    outline: 0 solid transparent;

  }

  &__cart:focus {
    background-color: $focus-bg-color;
    border: solid 2px $border-color;
  }

  &__cart:hover {
    background-color: $icon-color;
  }

  &__cart:active {
    background-color: $focus-bg-color;
    border: solid 2px transparent;
  }

  &__cart-icon {
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-2px, 8px);
    width: 44px;
    height: 23px;
    transition: all 0.3s;
    -webkit-mask-image: url('../images/sprite.svg#icon-cart');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: $title-color;
    transition: all 0.3s ease-in-out;
  }

  &__cart:hover &__cart-icon {
    background-color: $white-color;
  }

  &__cart:active &__cart-icon {
    background-color: $text-color;
  }

  &__cart-num {
    position: absolute;
    top: 4px;
    right: 3px;
    background-color: $btn-color;
    border-radius: 50%;
    color: $cart-num-color;
    width: 14px;
    height: 14px;
    font-size: 10px;
    line-height: 15px;
    transition: all 0.3s ease-in-out;
  }

  &__cart:hover &__cart-num {
    color: $icon-color;
    background-color: $white-color;
  }


}

.hero {

  &__center {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    max-width: 450px;
  }

  &__title {
    color: $title-color;
    font-size: 66px;
    @extend %rubik-500;
    text-transform: uppercase;
  }

  &__title span {
    display: inline-block;
    color: $btn-color;
    margin-bottom: 20px;
  }

  &__text {
    display: flex;
    display: inline-block;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    font-size: 18px;
  }

  &__detail {
    display: block;
    height: 23px;
    margin-top: 10px;
    text-decoration: underline;
    color: $title-color;
    border-radius: 5px;
    outline: transparent;
    transition: all 0.3s ease-out;
  }

  &__detail:focus {
    text-decoration: none;
    outline: solid 2px $border-color;
  }

  &__detail:hover {
    color: $btn-color;
    outline: transparent;
  }

  &__detail:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    color: $text-color;
    background-color: $white-color;
    text-decoration: none;
  }

  &__img {
    display: block;
    display: flex;
    min-width: 560px;
    height: 660px;
    background-image: url('../images/skills_content.jpg');
    background-repeat: no-repeat;
  }
}


.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  outline: 0 solid transparent;
  outline: transparent;
  border-radius: 5px;
  border: solid 2px transparent;
  transition: all 0.3s ease-in-out;
}

.logo:focus {
  border: solid 2px $border-color;
}

.logo:hover {
  opacity: 0.5;
}

.logo:active {
  opacity: 0.2;
}




.hero-btn:last-child {
  margin-right: 47px;
}

.hero-btn:not(:last-child) {
  margin-right: 45px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px transparent;
  border-radius: 6px;
  background-color: $btn-color;
  color: $white-color;
  transition: all 0.3s ease-in-out;
}

.button:focus {
  color: $btn-color;
  border: solid 2px $border-color;
  background-color: $focus-bg-color;
}

.button:hover {
  color: $btn-color;
  border: solid 2px $border-color;
  background-color: $white-color;
  box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
  box-shadow: 0px 5px 12px 0px rgba(255, 104, 56, 0.2);
}

.button:active {
  color: $btn-color;
  border: solid 2px transparent;
  background-color: $focus-bg-color;
  box-shadow: none;
}

.headear--button {
  margin-right: 35px;
  width: 147px;
  height: 47px;
}

.headear--button:focus {
  outline: transparent;
  border-radius: 5px;
  border: solid 2px $border-color;
  background-color: $focus-bg-color;
  color: $btn-color;
}

.headear--button:hover {
  background-color: $white-color;
  border: solid 2px $border-color;
  color: $btn-color;
  border-radius: 5px;
  box-shadow: 0px 5px 12px rgba(255, 104, 56, 0.2);
}

.headear--button:active {
  background-color: $focus-bg-color;
  color: $btn-color;
  border: none;
  box-shadow: none;
}


.category {
  position: relative;
  margin-bottom: 120px;

  &__title {
    padding-top: 120px;
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    max-width: 1122px;
  }

  &__btn {
    border: 1px solid $cart-num-color;
    outline: 2px solid transparent;
    background-color: $white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }

  &__btn:focus {
    outline: transparent;
    border: 2px solid $btn-color;
    color: $focus-bg-color;
  }

  &__btn:hover {
    background-color: $focus-bg-color;
    color: $btn-color;
  }

  &__btn:active {
    background-color: $focus-bg-color;
    color: $title-color;
    border: 2px solid transparent;

    box-shadow: inset 0px 0px 12px rgba(255, 104, 56, 0.2);
    transition: all 0.2s;
  }

  &__icon {
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    margin-left: 32px;
    background-color: #000000;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 0.3 ease-in-out;
  }


  &__text {
    margin-right: 32px;
    @extend %rubik-400;
    font-size: 20px;
  }

  &__icon--burger {
    -webkit-mask-image: url('../images/sprite.svg#icon-category-burger');
    transition: all 0.3s ease-in-out;
  }

  &__icon--pizza {
    -webkit-mask-image: url('../images/sprite.svg#icon-category-pizza');
    transition: all 0.3s ease-in-out;
  }

  &__icon--sandwiches {
    -webkit-mask-image: url('../images/sprite.svg#icon-category-sandvich');
    transition: all 0.3s ease-in-out;
  }

  &__icon--asia {
    -webkit-mask-image: url('../images/sprite.svg#icon-category-asia');
    transition: all 0.3s ease-in-out;
    width: 50px;
    height: 50px;
  }

  &__icon--dish {
    -webkit-mask-image: url('../images/sprite.svg#icon-category-dish');
    transition: all 0.3s ease-in-out;
  }

  &__btn:focus &__icon--burger,
  &__btn:focus &__icon--pizza,
  &__btn:focus &__icon--sandwiches,
  &__btn:focus &__icon--asia,
  &__btn:focus &__icon--dish {
    background-color: $focus-bg-color;
  }

  &__btn:hover &__icon--burger,
  &__btn:hover &__icon--pizza,
  &__btn:hover &__icon--sandwiches,
  &__btn:hover &__icon--asia,
  &__btn:hover &__icon--dish {
    background-color: $btn-color;
  }

  &__btn:active &__icon--burger,
  &__btn:active &__icon--pizza,
  &__btn:active &__icon--sandwiches,
  &__btn:active &__icon--asia,
  &__btn:active &__icon--dish {
    background-color: $title-color;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-bottom: 60px;
  }

  &__show-more {
    position: absolute;
    color: $text-color;
    line-height: 1.5;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    text-decoration: underline;
    outline: transparent;
    border: solid 2px transparent;
    transition: all 0.3s ease-in-out;
  }

  &__show-more:focus {
    border-radius: 5px;
    border: solid 2px $border-color;
    text-decoration: none;
  }

  &__show-more:hover {
    border: solid 2px transparent;
    color: $btn-color;
    text-decoration: none;
  }

  &__show-more:active {
    text-decoration: none;
    border: solid 2px transparent;
    color: $text-color;
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  }
}

.title {
  color: $title-color;
  font-size: 36px;
  text-align: center;
  @extend %rubik-500;
}

.category-item {
  display: flex;
  flex-direction: row;
  border: solid 2px transparent;
  outline: solid 2px transparent;
}

.product__logo {
  object-fit: cover;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background-color: $white-color;
  border: 1px solid $cart-num-color;
  font-size: 15px;

  &__icon {
    display: flex;
    max-width: 140px;
    height: auto;
    margin: 20px auto 6px;
  }

  &__text {
    display: flex;
    padding-bottom: 32px;
    font-size: 15px;
  }

  &__cost {
    display: flex;
    padding-bottom: 10px;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 1.4;
  }

  &__button {
    display: flex;
    font-size: 14px;
    line-height: 1.3;
    outline: transparent;
    width: 100px;
    height: 32px;
    margin-bottom: 20px;
  }
}

.order {}

.restaurants {}

.riews {}

.apps {}

.footer {}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__logo {
    margin-bottom: 30px;
  }

  &__input {
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 44px;
    transition: all 0.3s ease-in-out;
  }

  &__input:focus {
    color: $text-input;
    border: 2px solid $border-color;
    outline: transparent;
  }

  &__input:hover {
    color: $title-color;
    outline: transparent;
  }

  &__btn {
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 44px;
    background-color: $icon-color;
    border: solid 2px transparent;
    outline: transparent;
    transition: all 0.3s ease-in-out;
  }

  &__btn::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 15px;
    -webkit-mask-image: url('../images/sprite.svg#icon-send');
    background-color: $white-color;
    background-repeat: no-repeat;
    left: 30px;
    transition: all 0.3s ease-in-out;
  }

  &__btn:focus {
    background-color: $focus-bg-color;
    color: $btn-color;
    border: 2px solid $border-color;
    outline: transparent;
  }

  &__btn:hover {
    background-color: $white-color;
    color: $btn-color;
    border: 2px solid $border-color;
  }

  &__btn:active {
    background-color: $focus-bg-color;
    color: $btn-color;
    border-color: transparent;
  }

  &__btn:focus:before,
  &__btn:hover:before,
  &__btn:active:before {
    background-color: $icon-color;
  }

  &__btn-text {
    padding-left: 25px;
    font-size: 14px;
    line-height: 1.3;
  }

  &__link {
    color: $text-color;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    border: solid 2px transparent;
    transition: all 0.3s ease-in-out;
    outline: transparent;
  }

  &__link:focus {
    border-radius: 5px;
    border: solid 2px $border-color;
  }

  &__link:hover {
    color: $btn-color;
    border-radius: 5px;
    border: solid 2px transparent;
  }

  &__link:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    color: $text-color;
    border: solid 2px transparent;
    box-shadow: none;
  }
}

.feedback {
  &__all-media {}

  &__adress,
  &__tel,
  &__email {
    color: $text-color;
    margin-bottom: 20px;
    display: block;
    position: relative;
    outline: transparent;
    border: solid 2px transparent;
    transition: all 0.3s ease-in-out;
  }

  &__adress::before,
  &__tel::before,
  &__email::before {
    position: absolute;
    content: '';
    left: -36px;
    width: 28px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }

  &__tel {
    color: $text-color;
    margin-bottom: 20px;
    display: block;
    position: relative;
  }

  &__adress::before {
    height: 31px;
    background-image: url('../images/icons/icon-location.svg');
  }

  &__tel::before {
    height: 26px;
    background-image: url('../images/icons/icon-call.svg');
  }

  &__email::before {
    height: 25px;
    background-image: url('../images/icons/icon-message.svg');
  }

  &__adress:focus,
  &__tel:focus,
  &__email:focus {
    display: inline-block;
    outline: transparent;
    border-radius: 5px;
    border: solid 2px $border-color;
  }

  &__adress:hover,
  &__tel:hover,
  &__email:hover {
    color: $btn-color;
    border-radius: 5px;
    border: solid 2px transparent;
  }

  &__adress:active,
  &__tel:active,
  &__email:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    color: $text-color;
    border: solid 2px transparent;
    box-shadow: none;
  }

  &__socuailmedias {
    display: flex;
    flex-direction: row;
    gap: 13px;
    max-width: 143px;
  }

  &__socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: transparent;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-color: $cart-num-color;
    border: solid 2px transparent;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }

  &__socialmedia:focus {
    border-color: $border-color;
    background-color: $focus-bg-color;
  }

  &__socialmedia:hover {
    background-color: $icon-color;
    border: solid 2px transparent;
  }

  &__socialmedia:active {
    background-color: $focus-bg-color;
    border: solid 2px transparent;
  }

  &__facebook,
  &__twitter,
  &__instagram {
    display: flex;
    width: 100%;
    height: 20px;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: $text-color;
    transition: all 0.3s ease-in-out;
  }

  &__facebook {
    -webkit-mask-image: url('../images/sprite.svg#icon-facebook');
  }

  &__twitter {
    -webkit-mask-image: url('../images/sprite.svg#icon-twitter');
  }

  &__instagram {
    -webkit-mask-image: url('../images/sprite.svg#icon-instagram');
  }

  &__socialmedia:hover &__facebook,
  &__socialmedia:hover &__twitter,
  &__socialmedia:hover &__instagram {
    background-color: $white-color;
  }

  &__socialmedia:active &__facebook,
  &__socialmedia:active &__twitter,
  &__socialmedia:active &__instagram {
    background-color: $icon-color;
  }
}

.footer-top-item {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: $text-color;
}

.footer-bottom {
  display: flex;
  color: $text-color;
  justify-content: center;
  align-items: center;
  height: 75px;
  font-size: 14px;
  border: solid 2px transparent;
  line-height: 1;
}

@import 'media';