.product-page {

  &__breadcrumbs {
    margin-bottom: size(60, 30);
  }

  &__head {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    margin-bottom: 60px;

    @include r(size-md) {
      flex-direction: column;
    }
  }

  &__info {
    min-width: 530px;
    width: 100%;
  }

  &__title {
    text-align: left;
    margin-bottom: 30px;
  }

  &__stars {
    margin-bottom: 25px;
  }

  &__price {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 20px;
    color: $c-darkBlue-900;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  // &__quantity {
  //  
  // }

  &__btn {
    display: flex;
    gap: 14px;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 28px;
    white-space: nowrap;

    &::before {
      min-width: 16px;
      height: 16px;
      background-color: $c-white;
    }
  }

  // &__delivery {}

  &__slider {
    min-width: 610px;
    border-radius: 5px;
    outline: 1px solid $c-gray;
    overflow: hidden;
  }
}


.currency {}

.quantity {
  display: flex;

  &__btn {
    width: 44px;
    height: 44px;
    background-color: $c-orange-900;
    outline: 2px solid transparent;
    transition: all 0.3s ease-in-out;

    &::before {
      background-color: $c-white;
    }

    &:focus {
      background-color: rgba($c-orange-900, 0.5);
      outline-color: $c-orange-900;

      &::before {
        background-color: $c-orange-900;
      }
    }

    &:hover {
      background-color: rgba($c-orange-900, 0.1);
      outline-color: $c-orange-900;

      &::before {
        background-color: $c-orange-900;
      }
    }

    &:active {
      background-color: rgba($c-orange-900, 0.25);
      outline-color: transparent;
      box-shadow: inset 0 0 10px 0 rgba($c-dark, 0.25);

      &::before {
        background-color: $c-orange-900;
      }
    }

    &--minus {
      border-radius: 3px 0 0 3px;
    }

    &--plus {
      border-radius: 0 3px 3px 0;
    }
  }


  &__input {
    width: 70px;
    height: 44px;
    background-color: rgba($c-orange-900, 0.1);
    font-size: 20px;
    color: $c-darkBlue-900;
    line-height: 1;
    text-align: center;
    outline: 2px solid transparent;
    outline-offset: -2px;
    transition: all 0.3s ease-in-out;

    &:focus {
      outline-color: $c-orange-900;
    }
  }
}

.delivery {
  letter-spacing: 0.03em;

  &__title {
    font-size: size(24, 18);
    margin-bottom: 15px;
    color: $c-darkBlue-900;
  }

  &__list {
    border-top: 1px solid $c-gray;
    padding: size(20, 15) 0;
    font-size: 16px;
    line-height: 1.5;
  }

  &__item {}

  &__link {}
}


.product-slider {
  padding: size(75, 22) size(105, 22);

  .swiper-slide {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .swiper-slide-active {
    opacity: 1;
  }

  &__img {
    width: size(400, 300);
    margin: 0 auto;
  }

  &__btns {
    @include r($size-sm) {
      display: none;
    }
  }

  &__btn {
    position: absolute;
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    border-radius: 3px;
    outline: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    z-index: 99;

    &::before {
      min-width: 32px;
      height: 32px;
    }

    &:focus {
      outline-color: $c-orange-900;
    }

    &:hover {
      &::before {
        background-color: $c-orange-900;
      }
    }

    &:active {
      background-color: rgba($c-orange-900, 0.1);
    }

    &--prev {
      left: 25px;
    }

    &--next {
      right: 25px;
    }

    &.swiper-button-disabled {
      pointer-events: none;

      &::before {
        background-color: $c-gray;
      }
    }
  }
}

.deteils {
  border-top: 1px solid $c-gray;
  padding-top: 30px;
}

.stars {
  .Starry .Starry-star{
    min-width: 20px;
    width: 20px;
    height: 20px;
  }
}

.tabs {
  max-width: 690px;
  margin: 0 auto;
}

.tabs-nav {
  display: flex;
  gap: size(60, 30);
  overflow-x: auto;
  margin-bottom: 30px;


  &__item {}

  &__link {
    font-size: size(24, 20);
    line-height: 1.5;

    &.active {
      color: $c-orange-900;
    }
  }
}

.tabs-content {
  font-size: 20px;
  line-height: 1.5;

  &__item {
    display: none;

    &.active {
      display: block;
    }
  }
}

.description {
  p {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.characteristic {
  span {
    font-weight: 500;
  }
}

.product-reviews {

  &__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: $c-darkBlue-900;
    text-align: left;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }

  &__item {
    &:not(:last-child) {
      padding-bottom: 20px;
      border-bottom: 1px solid $c-gray;
      margin-bottom: 25px;
    }
  }

  margin-bottom: 60px;

  &__stars{
    margin-left: auto;
  }
}

.product-review {

  &__head {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
  }

  &__item {
    border-radius: 50%;
  }

  &__img {
    border-radius: 50%;
    gap: 25px;
  }

  &__info {}

  &__name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  &__time {
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }

  &__text {
    font-size: 20px;
  }
}

.product-feedback {

  &__title {
    @extend .product-reviews__title;
  }
}

.feedback {}

.feedback-form {

  &__row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__label {
    font-size: 20px;
    line-height: 1.3;

    &+.feedback-form__fild {
      margin-top: 15px;
    }
  }

  &__stars {}

  &__inner {
    display: grid;
    grid-template-columns: 1fr 260px;
    gap: 10px 30px;
    margin-bottom: 30px;
  }

  &__group {
    &:first-child {
      grid-area: 1 / 1 / 3/ 2;
    }
  }

  &__fild {
    width: 100%;
    padding: 18px;
    font-size: 16px;
    line-height: 1.3;
    border-radius: 5px;
    border: 1px solid $c-gray;
    outline: 2px solid transparent;
    transition: outline 0.3s ease-in-out;

    &:focus {
      outline-color: $c-orange-900;
      border-color: $c-orange-900;
    }

    &--textarea {
      resize: vertical;
      min-height: 165px;
    }
  }

  &__checkbox {
    margin-bottom: 30px;
  }

  &__btn {}
}

.checkbox {

  &__input {}

  &__label {}
}

.interesting {

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: size(60, 30);
  }

  &__title {
    font-size: size(36, 20);
    margin-bottom: 0;
  }

  &__actions {
    display: flex;
    gap: 25px;
    height: 34px;
    width: 34px;
    // }

    &__btn {
      @extend .reviews__btn;

      &--prev {
        @extend .reviews__btn--prev;
      }

      &--next {
        @extend .reviews__btn--next;
      }
    }
  }

  &__slider {
    padding: 3px;
  }
}

.slider-wraper {}

.product-cart {

  &__link {}

  &__title {}

  &__img {}

  &__price {}

  &__currency {}

  &__btn {}
}

.btn--md {}