.resto {
  box-sizing: border-box !important;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: size(30, 0);

    @include r($size-md) {
      grid-template-columns: repeat(2, minmax(auto, 370px));
      gap: 10px;
      justify-content: center;
    }

    @include r($size-sm) {
      display: flex;
      gap: initial;
      justify-content: initial;
      margin-bottom: 25px;
    }

    .content-card {
      @include r($size-sm) {
        margin: 0 auto;
      }
    }
  }

  &__slider {
    overflow: visible;

    @include r($size-sm) {
      overflow: hidden;
    }
  }

  &__dots {
    @extend .reviews__dots;
    justify-content: center;
    padding: 2px;
  }

  &__dot {
    @extend .reviews__dot;

    &--active {
      @extend .reviews__dot--active;
    }
  }
}