.catalog-page {
  &__breadcrumbs {
    margin-bottom: size(60, 40);
  }

  &__title {
    margin-bottom: 0;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: size(60, 30);
  }

  &__select-sort {
    width: 130px;
  }

  &__select-number {
    width: 92px;
  }

  &__inner {
    display: flex;
    gap: 30px;
  }
}

.catalog {
  &__list {
    grid-template-columns: repeat(4, 1);
    margin-bottom: size(60, 30);
  }
}

.sidebar {
  min-width: 270px;
  &__head {
    display: none;
    padding: 20px;
    justify-content: flex-end;

    @include r($size-md) {
      display: flex;
    }
  }
}

.filters-box {
  border-radius: 5px;
  border: 1px solid $c-silver-200;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &__head {
    padding: 15px;
    border-bottom: 1px solid $c-silver-200;
  }

  &__title {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }

  &__inner {
    padding: 25px 15px;
  }
}

.filters-list {
  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__link {
    @extend .menu__link;
    font-style: 18px;
    letter-spacing: 0.03em;
  }
}

.filters-top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.filter-btn {
  min-width: 47px;
  height: 47px;
  background-color: rgba($c-orange-900, 0.1);

  &::before {
    min-width: 35px;
    height: 35px;
    background-color: $c-orange-900;
    border-radius: 3px;
  }

  &:focus,
  &:hover,
  &:active {
    &::before {
      background-color: $c-orange-900;
    }
  }
}

.select {
  padding: 15px;
  // padding-right: 41px;
  font-size: 14px;
  letter-spacing: 0.03em;
  border: 1px solid $c-gray;
  border-radius: 3px;

  background-image: url('../images/sprite.svg#icon-chevron-right');
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: 10px;
}

.checkbox {

  &__label {
    position: relative;
    padding-left: 36px;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $c-orange-900;

      &::before {
        border-color: rgba($c-darkBlue-900, 0.5);
      }
    }

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      min-width: 22px;
      height: 22px;
      transition: all 0.3s ease-in-out;
    }

    &::before {
      border-radius: 3px;
      border: 1px solid $c-silver-200;
      background-color: rgba($c-orange-900, 0.1);
    }

    &::after {
      mask-image: url('../images/sprite.svg#icon-check');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 12px;
      background-color: $c-darkBlue-900;
      opacity: 0;
    }
  }

  &__input {
    &:checked {
      &+.checkbox__label {
        &::before {
          border-color: $c-darkBlue-900;
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.range {

  &__group {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $c-gray;
    gap: 5px;

    &::after {
      content: '₴';
    }
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
  }

  &__input {
    width: 70px;
    border-radius: 3px;
    border: 1px solid $c-silver-200;
    background-color: rgba($c-orange-900, 0.1);
    padding: 12px;
    text-align: center;
  }

  .noUi-target {
    background-color: $c-gray;
    border-radius: 0;
    border: 0;
    box-shadow: none;
  }

  .noUi-horizontal {
    width: 240px;
    height: 2px;

    .noUi-handle {
      width: 18px;
      height: 18px;
      top: -8px;
      border-radius: 50%;
      background-color: $c-orange-900;
      border: none;
      box-shadow: none;

      &::after {
        content: none;
      }

      &::before {
        content: none;
      }
    }
  }

  .noUi-connects {
    border-radius: 0;
  }

  .noUi-connect {
    background-color: $c-orange-900;
  }
}

// .catalog {
//   &__container {
//     margin: auto 0;
//     background-color: rgba(255, 122, 80, 0.1);
//   }
// }

// .breadcrumbs {
//   &__list {
//     display: flex;
//     flex-direction: row;
//     column-gap: 17px;
//   }

//   &__item:first-child::after {
//     content: '';
//     position: absolute;
//     width: 6px;
//     height: 10px;
//     right: 0;
//     bottom: 0;
//     background-image: url('../images/sprite.svg#icon-arrow-breadcrumbs');
//     // transform: scale(-1
//   }

//   &__item {
//     display: flex;
//     position: relative;
//   }

//   &__links {
//     padding-top: 24px;
//     padding-bottom: 24px;
//   }
// }