.features {

  &__inner {
    min-height: 585px;
    padding: 0 size(70, 0);

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: start;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: left size(70, 0) center;
  }


  &__content {
    max-width: 470px;
    background-color: rgba($c-white, 0.85);
    align-self: flex-end;
  }

  &__title {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: left;
  }

  &__description {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__list {
    margin-bottom: 30px;
  }

  &__item {
    font-size: 24px;
    line-height: 1.5;
    color: $c-darkBlue-900;

    gap: 30px; //єто можем делать потому что icon имеет стили свли и висит на єтом обьекте
    justify-content: flex-start;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::before {
      min-width: 34px;
      height: 34px;
    }

    &.icon--delivery {
      &::before {
        border-color: $c-orange-900;
      }
    }

    .icon--courier {
      &::before {
        border-color: #00AAFF;
      }
    }

    .icon--build {
      &::before {
        border-color: #FF2222;
      }
    }
  }
}