.footer {}

.footer-top {
  display: flex;
  flex-direction: row;

  &__logo {
    margin-bottom: 30px;
  }

  &__input {
    border-radius: 5px;
    margin-bottom: 12px;
    border-color: transparent;
    outline: 1px solid $silver-200;
    position: relative;
    width: 100%;
    height: 44px;
    transition: all 0.3s ease-in-out;
  }

  &__input:focus {
    color: $grey;
    outline: 2px solid $orange-900;
  }

  &__input:hover {
    color: $darkBlue-900;
    outline: 2px solid $border-color;
  }

  &__btn {
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 44px;
    background-color: $icon-color;
    border: solid 2px transparent;
    outline: transparent;
    transition: all 0.3s ease-in-out;
  }

  &__btn::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 15px;
    -webkit-mask-image: url('../images/sprite.svg#icon-send');
    background-color: $white-color;
    background-repeat: no-repeat;
    left: 37px;
    transition: all 0.3s ease-in-out;
  }

  &__btn:focus {
    background-color: $focus-bg-color;
    color: $orange-900;
    border: 2px solid $border-color;
    outline: transparent;
  }

  &__btn:hover {
    background-color: $white-color;
    color: $orange-900;
    border: 2px solid $border-color;
  }

  &__btn:active {
    background-color: $focus-bg-color;
    color: $orange-900;
    border-color: transparent;
  }

  &__btn:focus:before,
  &__btn:hover:before,
  &__btn:active:before {
    background-color: $icon-color;
  }

  &__btn-text {
    padding-left: 32px;
    font-size: 14px;
    line-height: 1.3;
    @extend %rubik-500;
  }

  &__link {
    color: $dark;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    border: solid 2px transparent;
    transition: all 0.3s ease-in-out;
    outline: transparent;
  }

  &__link:focus {
    border-radius: 5px;
    border: solid 2px $border-color;
  }

  &__link:hover {
    color: $orange-900;
    border-radius: 5px;
    border: solid 2px transparent;
  }

  &__link:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    color: $dark;
    border: solid 2px transparent;
    box-shadow: none;
  }
}

.feedback {
  &__all-media {}

  &__adress,
  &__tel,
  &__email {
    color: $dark;
    top: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
    position: relative;
    outline: transparent;
    border: solid 2px transparent;
    transition: all 0.3s ease-in-out;
  }

  &__adress::before,
  &__tel::before,
  &__email::before {
    position: absolute;
    content: '';
    height: 21px;
    width: 18px;
    left: -28px;
    top: -2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }

  &__tel {
    color: $dark;
    margin-bottom: 20px;
    display: block;
    position: relative;
  }

  &__adress:before {
    background-image: url('../images/icons/icon-location.svg');
  }

  &__tel:before {
    background-image: url('../images/icons/icon-call.svg');
    width: 21px;
  }

  &__email:before {
    height: 20px;
    left: -30px;
    width: 21px;
    top: 2px;
    background-image: url('../images/icons/icon-message.svg');
  }

  &__adress:focus,
  &__tel:focus,
  &__email:focus {
    display: inline-block;
    outline: transparent;
    border-radius: 5px;
    border: solid 2px $border-color;
  }

  &__adress:hover,
  &__tel:hover,
  &__email:hover {
    color: $orange-900;
    border-radius: 5px;
    border: solid 2px transparent;
  }

  &__adress:active,
  &__tel:active,
  &__email:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    color: $dark;
    border: solid 2px transparent;
    box-shadow: none;
  }

  &__socuailmedias {
    position: relative;
    top: 5px;
    display: flex;
    flex-direction: row;
    gap: 13px;
    max-width: 143px;
    max-height: 39px;
  }

  &__socialmedia {
    position: relative;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: transparent;
    background-repeat: no-repeat;
    height: 39px;
    width: 39px;
    background-color: $silver-200;
    border: solid 2px transparent;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }

  &__socialmedia:focus {
    border-color: $border-color;
    background-color: $focus-bg-color;
  }

  &__socialmedia:hover {
    background-color: $icon-color;
    border: solid 2px transparent;
  }

  &__socialmedia:active {
    background-color: $focus-bg-color;
    border: solid 2px transparent;
  }

  &__facebook,
  &__twitter,
  &__instagram {
    display: flex;
    width: 100%;
    height: 20px;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: $dark;
    transition: all 0.3s ease-in-out;
  }

  &__facebook {
    -webkit-mask-image: url('../images/sprite.svg#icon-facebook');
  }

  &__twitter {
    -webkit-mask-image: url('../images/sprite.svg#icon-twitter');
  }

  &__instagram {
    -webkit-mask-image: url('../images/sprite.svg#icon-instagram');
  }

  &__socialmedia:hover &__facebook,
  &__socialmedia:hover &__twitter,
  &__socialmedia:hover &__instagram {
    background-color: $white-color;
  }

  &__socialmedia:active &__facebook,
  &__socialmedia:active &__twitter,
  &__socialmedia:active &__instagram {
    background-color: $icon-color;
  }
}

.footer-top-item {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: $dark;
  max-width: 200px;
  margin-right: 69px;
}

.footer-top-middel {
  display: grid;
  grid-template-columns: 221px 163px 287px;
  max-height: 166px;
}

.footer-top-middel li {
  height: 42px;
}

.footer-bottom {
  position: relative;
  padding-top: 212px;
  display: flex;
  color: $dark;
  justify-content: center;
  align-items: center;
  height: 75px;
  font-size: 14px;
  border: solid 2px transparent;
  line-height: 1;
  top: 50%;
  transform: translate(0, -50%);
}

.footer-bottom::before {
  content: "";
  position: absolute;
  bottom: 38px;
  left: 0;
  width: 100%;
  height: 1px;
  color: $grey;
  background-color: rgba(35, 82, 222, 0.1);
}