.footer {

  &__content {
    display: flex;
    flex-wrap: wrap;
    grid-template: 70px;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-flow: column;
    gap: 20px 90px;

    .menu__item {
      grid-column: 3;

      &:nth-child(-n+4) {
        grid-column: 1;
      }

      &:nth-child(n+5):nth-child(-n+8) {
        grid-column: 2;
      }
    }
  }

  &__contacs {}

  &__bottom {}
}


.subscription {

  .form__field{
    margin-bottom: 12px;
  }
  &__btn {}
}

.form {

  &__field {
    border-radius: 5px;
    outline: 1px solid $c-grey;
    padding: 13px 15px;
    transition: outline-color 0.3s ease-in-out, outline-width 0.15s ease-in-out;

    &::placeholder {
      font-size: 14px;
      color: $c-grey;
    }

    &:focus {
      outline-color: $c-orange-900;
      outline-width: 2px;
    }

    &:hover {
      &::placeholder{
        outline-color: $c-dark;
      }
    }
  }
}

.icon--send {}


.contacts {

  &__list {}

  &__link {}
}

.contacs {

  &__item {}
}

.icon--address {}

.icon--phone {}

.icon-email {}

.social {

  &__item {}

  &__link {}

  &__icon {}
}