.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: 1;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($darkBlue-900, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: -100;
    transition: opacity 0.3s ease-in-out;
  }

  &__logo {
    display: flex;
    max-height: 39px;
    min-width: 200px;
    margin: auto 0;

    @include r($sm) {
      max-width: 115px;
      min-width: 115px;
      max-height: 30px;
      transition: all 0.3s ease-in-out;
    }
  }

  &__img-logo {
    object-fit: contain;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100px;
      height: 39px;
      top: 0;
      background-image: url('../images/no-image.jpg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 2;
    }
  }

  &__nav {
    height: 158px;
    margin-bottom: 14px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    justify-content: space-between;

    @include r($sm) {
      height: 60px;
    }
  }

  &__nav-right {
    display: flex;

    @include r($sm) {
      margin-top: 12px;
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include r($sm) {
      position: absolute;
      left: 0;
      top: 0;
      padding-top: 20%;
      padding-bottom: 100vh;
      align-items: flex-start;
      flex-direction: column;
      width: 85%;
      align-items: left;
      background-color: aquamarine;
      transform: translateX(-300%);
      transition: all .3s ease-in-out;
    }
  }

  &__link {
    position: relative;
    top: 50%;
    transform: translateY(50%);
    font-size: 18px;
    color: $dark;
    outline: transparent;
    border-radius: 5px;
    border: solid 2px transparent;
    transition: all 0.3s ease-in-out;
  }

  &__link:focus {
    border: solid 2px $orange-900;
    border: solid 2px $border-color;
  }

  &__link:hover {
    color: $orange-900;
  }

  &__link:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    color: $dark;
    border: solid 2px transparent;
    box-shadow: none;
  }

  &__icons {
    height: 45px;
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);

    @include r($sm) {
      gap: 10px;
      margin-right: 0;
    }
  }

  .icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 5px;
    border: solid 2px transparent;
    transition: all 0.3s ease-in-out;
    outline: 0 solid transparent;

    @include r($sm) {
      margin-right: 3px;
    }

    &__cart,
    &__search {
      background-repeat: no-repeat;
      background-size: contain;
      height: 23px;
      width: 23px;
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      background-color: $darkBlue-900;
      transition: all 0.3s ease-in-out;
    }

    &__cart {
      transform: translate(1px, 1px);
      transition: all 0.3s;
      mask-image: url('../images/sprite.svg#icon-cart');

      @include r($sm) {
        width: 20px;
        margin-right: 5px;
      }
    }

    &__search {
      mask-image: url('../images/sprite.svg#search_icon');
    }

    &__cart-num {
      position: absolute;
      min-width: 14px;
      height: 14px;
      padding: 0 2px;
      top: 6px;
      right: 3px;
      background-color: $orange-900;
      border-radius: 7px;
      color: $silver-200;
      font-size: 10px;
      line-height: 15px;
      transition: all 0.3s ease-in-out;

      @include r($sm) {
        margin: 2px 6px 0 0;
      }
    }
  }

  .icon-btn:focus {
    background-color: $focus-bg-color;
    border: solid 2px $border-color;
  }

  .icon-btn:hover {
    background-color: $icon-color;
    border: solid 2px transparent;
  }

  .icon-btn:active {
    background-color: $focus-bg-color;
  }

  .icon-btn:hover .icon-btn__cart,
  .icon-btn:hover .icon-btn__search {
    background-color: $white-color;
  }

  .icon-btn:active .icon-btn__cart,
  .icon-btn:active .icon-btn__search {
    background-color: $dark;
  }

  .icon-btn:hover .icon-btn__cart-num {
    color: $icon-color;
    background-color: $white-color;
  }

  .icon-btn:active .icon-btn__cart-num {
    color: $white-color;
    background-color: $orange-900;
  }


  .logo {
    outline: 0 solid transparent;
    outline: solid 2px transparent;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }

  .logo:focus {
    outline: solid 2px $border-color;
  }

  .logo:hover {
    opacity: 0.5;
  }

  .logo:active {
    opacity: 0.2;
  }

  .hero-btn {
    @include r($md) {
      font-size: 18px;
    }
  }

  .hero-btn:last-child {
    margin-right: 53px;

    @include r($sm) {
      margin-bottom: 40px;
    }
  }

  .hero-btn:not(:last-child) {
    margin-right: 39px;
  }

  .hero-btn:nth-of-type(3) {
    @include r($sm) {
      margin: 0;
    }
  }
}