.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: 1;

  &__logo {
    display: flex;
    max-height: 39px;
    margin: auto 0;
  }

  &__nav {
    height: 160px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    justify-content: space-between;
  }

  &__nav-right {
    display: flex;
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    position: relative;
    top: 50%;
    transform: translateY(50%);
    font-size: 18px;
    color: $dark;
    outline: transparent;
    border-radius: 5px;
    border: solid 2px transparent;
    transition: all 0.3s ease-in-out;
  }

  &__link:focus {
    border: solid 2px $orange-900;
    border: solid 2px $border-color;
  }

  &__link:hover {
    color: $orange-900;
  }

  &__link:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    color: $dark;
    border: solid 2px transparent;
    box-shadow: none;
  }

  &__icons {
    height: 45px;
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
  }
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 5px;
  border: solid 2px transparent;
  transition: all 0.3s ease-in-out;
  outline: 0 solid transparent;

  &__cart,
  &__search {
    background-repeat: no-repeat;
    background-size: contain;
    height: 23px;
    width: 23px;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: $darkBlue-900;
    transition: all 0.3s ease-in-out;
  }

  &__cart {
    transform: translate(1px, 1px);
    transition: all 0.3s;
    -webkit-mask-image: url('../images/sprite.svg#icon-cart');
  }

  &__search {
    -webkit-mask-image: url('../images/sprite.svg#search_icon');
  }

  &__cart-num {
    position: absolute;
    top: 6px;
    right: 3px;
    background-color: $orange-900;
    border-radius: 50%;
    color: $silver-200;
    width: 14px;
    height: 14px;
    font-size: 10px;
    line-height: 15px;
    transition: all 0.3s ease-in-out;
  }
}

.icon-btn:focus {
  background-color: $focus-bg-color;
  border: solid 2px $border-color;
}

.icon-btn:hover {
  background-color: $icon-color;
  border: solid 2px transparent;
}

.icon-btn:active {
  background-color: $focus-bg-color;
}

.icon-btn:hover .icon-btn__cart,
.icon-btn:hover .icon-btn__search {
  background-color: $white-color;
}

.icon-btn:active .icon-btn__cart,
.icon-btn:active .icon-btn__search {
  background-color: $dark;
}

.icon-btn:hover .icon-btn__cart-num {
  color: $icon-color;
  background-color: $white-color;
}

.icon-btn:active .icon-btn__cart-num {
  color: $white-color;
  background-color: $orange-900;
}


.logo {
  outline: 0 solid transparent;
  outline: solid 2px transparent;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.logo:focus {
  outline: solid 2px $border-color;
}

.logo:hover {
  opacity: 0.5;
}

.logo:active {
  opacity: 0.2;
}

.burger {
  background-color: #ffffff00;
  display: none;
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {
  .header {
    &__menu {
      opacity: 0;
      display: none;
    }

    &__menu--сurtain {
      position: fixed;
      display: block;
      height: 100%;
      width: 100vh;
      left: 0;
      justify-content: center;
      align-items: center;
      opacity: 1;
      background-color: aqua;
      z-index: 2;
    }

    &__logo {
      max-width: 115px;
    }

    &__icons {
      gap: 0;
      margin-right: 4px;
    }
  }

  .container {
    padding: 0 5px;
  }

  .burger {
    position: relative;
    display: inline;
    width: 45px;
    height: 45px;
    top: 40px;
    border: none;
    z-index: 2;

    &__line {
      position: absolute;
      left: 11px;
      top: 17px;
      transform: translateY(-50%);
      width: 30px;
      height: 2px;
      background-color: $darkBlue-900;
    }

    &::before,
    &::after {
      content: "";
      top: 6px;
      position: absolute;
      left: 11px;
      width: 30px;
      height: 2px;
      background-color: currentColor;
      transition: transform 0.3s ease-in-out,
    }

    &::after {
      content: "";
      top: 27px;
    }
  }
}