$rightPos: calc((100vw - 1170px) / 2);

.hero {
  margin-top: size(160, 0)160px;
  min-height: 660px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right $rightPos center;

  @include r($size-lg) {
    min-height: size(660, 300, 1200);
    background-position: right 15px center;
    background-size: size(560, 254) auto; //Ширина изменится а вісота auto
  }

  @include r($size-md) {
    background-color: rgba($c-white, 0.85);
    background-blend-mode: overlay;
  }

  &__content {
    min-width: 480px;
    padding: 25px 0;
  }

  &__text-wraper {
    max-width: 476px;
  }

  &__title {
    max-width: 480px;
    @include fz(66, 40);
    color: $c-darkBlue-900;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 500;

    span {
      display: block;
    }
  }

  &__desription {
    max-width: 450px;
    line-height: 1.5;
    font-size: size(20, 16);
    padding-bottom: 20px;
    @include line-clamp(4);
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}