.menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 40px;

  &__link {
    font-size: 18px;
    letter-spacing: 0.01em;
    border-radius: 5px;
    outline: 2px solid transparent;
    transition: outline-color 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.4s ease-in-out;

    &:focus {
      outline-color: rgba($c-orange-900, 0.7);
    }

    &:hover {
      color: $c-orange-900;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba($c-dark, 0.5);
      outline-color: transparent;
    }

    &--current {
      color: $c-orange-900;
    }
  }
}