.order {

  &__wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 90px;
  }

  &__img {
    height: 585px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 69px;
    margin-right: 120px;
    max-width: 440px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    max-width: 470px;
  }

  &__title {
    display: flex;
  text-align: left;

    margin-top: 60px;
    flex-direction: column;
  }

  &__text {
    display: flex;
    line-height: 1.5;
  }

  &__benefits {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    line-height: 1.5;
    font-size: 24px;
  }

  &__benefit {
    display: flex;
  }

  &__button {
    display: flex;
    max-width: 165px;
    height: 47px;
    font-size: 18px;
    line-height: 1.3;
  }
}