.popular {

  &__nav {
    margin-bottom: size(45, 24);
  }

  &__list {
    margin-bottom: size(60, 30);
    grid-template-columns: repeat(5, 1fr);
    gap: size(30, 5);
  }

  &__btn {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
}