.range {

  &__group {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $c-gray;
    gap: 5px;

    &::after {
      content: '₴';
    }
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 31px;
  }

  &__input {
    width: 70px;
    border-radius: 3px;
    border: 1px solid $c-silver-200;
    background-color: rgba($c-orange-900, 0.1);
    padding: 11px;
    text-align: center;
  }

  .noUi-target {
    background-color: $c-gray;
    border-radius: 0;
    border: 0;
    box-shadow: none;
  }

  .noUi-horizontal {
    width: 240px;
    height: 2px;

    .noUi-handle {
      width: 18px;
      height: 18px;
      top: -8px;
      border-radius: 50%;
      background-color: $c-orange-900;
      border: none;
      box-shadow: none;

      &::after {
        content: none;
      }

      &::before {
        content: none;
      }
    }
  }

  .noUi-connects {
    border-radius: 0;
  }

  .noUi-connect {
    background-color: $c-orange-900;
  }
}