.restaurants {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 29px;

    @include r($sm) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 20px;

      .slick-track {
        padding-bottom: 3px;
      }

      .slick-dots {
        position: relative;
        bottom: 6px;
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .slick-dots li button {
        margin: 0 7px;
        height: 16px;
        width: 10px;
        font-size: 0;
        border-radius: 50%;
        border-color: transparent;
        background-color: $grey;

        &:focus {
          border: solid 2px $orange-900;
        }

        &:hover {
          border: solid 2px $slider-borrder-focus;
          background-color: $focus-bg-color;
        }

        &:active {
          background-color: $slider-borrder-focus;
        }
      }

      .slick-dots li.slick-active button {
        background-color: $orange-900;
      }
    }
  }

  &__title {
    padding-bottom: 41px;
    @extend %rubik-500;
    @include line-clamp(3);

    @include r($sm) {
      padding-top: 66px;
      padding-bottom: 15px;
      font-size: 24px;
    }
  }

  .restaurant-cart {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: solid 2px transparent;
    outline: solid 2px transparent;
    background-image: #fff;

    &__link {
      outline: solid 2px transparent;
    }

    &__icon {
      margin-bottom: 16px;
      object-fit: contain;

      @include r($sm) {
        margin-bottom: 27px;
      }
    }

    &__name,
    &__name-kfs {
      display: inline-block;
      position: relative;
      left: 18px;
      font-size: 24px;
      text-transform: capitalize;
      margin-bottom: 26px;
      color: $dark;
    }

    &__name-kfs {
      text-transform: uppercase;
    }

    &__name {
      @include r($sm) {
        margin-bottom: 24;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    &__bottom {
      display: flex;
      justify-content: flex-end;
      text-align: center;
      justify-content: space-between;
      margin-bottom: 12px;
    }

    &__time {
      position: relative;
      display: flex;
      left: 27px;
      font-size: 18px;
      @extend %rubik-300;

      &::before {
        position: relative;
        content: '';
        height: 23px;
        width: 23px;
        left: -8px;
        background-image: url('../images/sprite.svg#icon-littel-timer');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &__button {
      display: flex;
      position: relative;
      background-color: $orange-900;
      right: 19px;
      bottom: 7px;
      width: 79px;
      height: 33px;
      border-radius: 50px;
      outline: solid 2px transparent;
      border: solid 2px transparent;
      transition: all 0.3s ease-in-out;

      &::before {
        position: relative;
        content: '';
        left: 27px;
        top: 4px;
        height: 23px;
        width: 23px;
        mask-image: url('../images/sprite.svg#icon_restaurants_arrov');
        background-color: $white-color;
        background-repeat: no-repeat;
      }
    }

    &__button:focus {
      border: solid 2px $orange-900;
      background-color: $focus-bg-color;
    }

    &__button:hover {
      border: solid 2px $orange-900;
      background-color: $white-color;
    }

    &__button:active {
      border: solid 2px transparent;
      background-color: $focus-bg-color;
    }

    &__button:focus::before {
      background-color: $orange-900;
    }

    &__button:hover::before {
      background-color: $orange-900;

    }

    &__button:active::before {
      background-color: $orange-900;
    }
  }

  .restaurant-cart:hover {
    box-shadow: 0px 3px 0px 0px rgba(255, 104, 56, 0.5);
  }
}