.reviews {
  &__title {
    padding-top: 118px;
  }

  &__container {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
  }

  &__inner {
    border-color: transparent;
    margin-bottom: 147px;
  }

  &__item {
    display: flex;
    padding-top: 37px;
    flex-direction: row;
  }

  &__icon {
    position: relative;
    top: 9px;
    border-radius: 50%;
  }

  &__figure {
    margin-right: 21px;
  }

  &__text {
    position: relative;
    line-height: 1.5;
    @extend %rubik-italic;
    margin-bottom: 30px;
  }

  &__text::before,
  &__text::after {
    position: absolute;
    content: '';
    height: 23px;
    width: 23px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__text::before {
    left: -41px;
    bottom: 131px;
    background-image: url('../images/sprite.svg#icon_quote');
  }

  &__text::after {
    right: -60px;
    bottom: -1px;
    background-image: url('../images/sprite.svg#icon_quote');
    transform: scale(-1, 1);
  }

  &__pearson {
    @extend %rubik-500;
    color: $orange-900;
    padding-left: 40px;
    margin-bottom: 16px;
  }


  &__about-pearson {
    padding-left: 38px;
    font-size: 14px;
    @extend %rubik-400;

  }
}

.slick-next,
.slick-prev {
  width: 40px;
  height: 40px;
  border: solid 3px $grey;
  border-radius: 50%;
  line-height: 0;
  font-size: 0;
}

.slick-next {



  
  position: relative;
  left: 567px;
  top: 26px;
}

.slick-prev {
  position: absolute;
  bottom: -26px;
  left: 382px;
}

.slick-prev::after,
.slick-next::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url('../images/sprite.svg#icon-slider-arrow');
}

.slick-prev::after {
  right: 9px;
  bottom: 7px;
  transform: scaleX(-1);
}

.slick-next::after {
  left: 8px;
  bottom: 7px;
}

.slick-slide {
  margin-bottom: 20px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  line-height: 0;
  margin-right: 17px;

  li {
    padding: 0 15px;
    button {
      padding: 0;
      font-size: 0;
      background-color: $grey;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border-color: transparent;
      position: absolute;
    }

    &.slick-active {
      button {
        background-color: $orange-900;
      }
    }
  }
}