.apps {
  &__inner {
    display: flex;
    margin-bottom: 120px;

    @include r($sm) {
      margin-bottom: 34px;
    }
  }

  &__title {
    padding-top: 41px;
    text-align: left;
    margin-bottom: 45px;

    @include r($sm) {
      display: inline-block;
      padding-top: 40px;
      margin-bottom: 13px;
      font-size: 24px;
    }
  }

  &__text {
    width: 535px;
    margin-bottom: 29px;
    line-height: 1.5;

    @include r($sm) {
      width: 100%;
      margin-bottom: 16px;
      font-size: 14px;
      -webkit-line-clamp: 6;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &__apstor {
    display: inline-block;
    background-image: url('../images/app-apple.jpg');
    position: relative;
    height: 40px;
    width: 120px;
    margin-right: 25px;
    background-repeat: no-repeat;
  }

  &__pleymarket {
    display: inline-block;
    background-image: url('../images/app-android.jpg');
    position: relative;
    height: 40px;
    width: 135px;
    background-repeat: no-repeat;
  }

  &__img {
    position: relative;
    height: 380px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;

    @include r($sm) {
      display: none;
    }
  }

  &__img {
    @include r($sm) {
      width: 100%;
    }
  }
}