<section class="application mb-120" style="background-image: url(images/get_app.jpg);">
  <h2 class="sr-only">Застосунки SimpleFood для швидкого замовлення їжі</h2>
  <div class="container">
    <div class="application__content">
      <div class="title application__title">
        Завантажте мобільний застосунок
      </div>
      <div class="application__info">
        <p>Ресторани, які ви любите - у ваших руках.</p>
        <p>Встановлюйте застосунок та замовляйте їжу в зручному місці в зручний час</p>
      </div>
      <ul class="application__list">
        <li class="application__item">
          <a class="app-icon app-icon--apple" href="" target="_blank">
            <span class="sr-only"> Завантажити застосунок з AppStore</span>
          </a>
        </li>
        <li class="application__item">
          <a class="app-icon app-icon--google" href="" target="_blank">
            <span class="sr-only"> Завантажити застосунок з GooglePlay</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>