<div class="container">
  <div class="catalog-page__head">
    <h1 class="title catalog-page__title">Каталог продуктів</h1>
    <div class="catalog-page__actions filters-top">
      <button class="filter-btn  icon icon--filter">
        <span class="sr-only">Показати фільтри</span>
      </button>
      <div class="filters-top__group">
        <label for="stor-by-name" class="sr-only">Обрати варіант сортування продуктів</label>
        <select class="select catalog-page__select-sort" name="stor-by-name" id="stor-by-name">
          <option value="name">За назвою</option>
          <option value="popularity">За популярністю</option>
          <option value="price_high">Спочатку дорожчі</option>
          <option value="price_low">Спочатку девщі</option>
        </select>
      </div>
      <div class="filters-top__group">
        <label for="stor-by-number" class="sr-only">Обрати кількість</label>
        <select class="select catalog-page__select-number" name="stor-by-number" id="stor-by-number">
          <option value="12">По 12</option>
          <option value="24">По 24</option>
          <option value="48">По 48</option>
          <option value="96">По 96</option>
        </select>
      </div>
    </div>
  </div>
</div>