<div class="container">
  <div class="catalog-page__head">
    <h1 class="title catalog-page__title">Product catalog</h1>
    <div class="catalog-page__actions filters-top">
      <button class="filter-btn  icon icon--filter">
        <span class="sr-only">Show filters</span>
      </button>
      <div class="filters-top__group">
        <label for="stor-by-name" class="sr-only">Select a product sorting option</label>
        <select class="select catalog-page__select-sort" name="stor-by-name" id="stor-by-name">
          <option value="name">By name select a product sorting option</option>
          <option value="popularity">By popularity</option>
          <option value="price_high">Initially more expensive</option>
          <option value="price_low">First, the girls</option>
        </select>
      </div>
      <div class="filters-top__group">
        <label for="stor-by-number" class="sr-only">Select quantity</label>
        <select class="select catalog-page__select-number" name="stor-by-number" id="stor-by-number">
          <option value="12">to 12</option>
          <option value="24">to 24</option>
          <option value="48">to 48</option>
          <option value="96">to 96</option>
        </select>
      </div>
    </div>
  </div>
</div>