<section class="deteils mb-120">
  <h2 class="sr-only">Додаткові відомості про товар</h2>
  <div class="container">
    <div class="tabs">
      <ul class="tabs-nav">
        <li class="tabs-nav__item">
          <a class="tabs-nav__link active" href="#description">Опис</a>
        </li>
        <li class="tabs-nav__item">
          <a class="tabs-nav__link" href="#characteristic">Характеристики</a>
        </li>
        <li class="tabs-nav__item">
          <a class="tabs-nav__link" href="#product-rewiews">Відгуки <span>(2)</span></a>
        </li>
      </ul>
      <ul class="tabs-content">
        <li class="tabs-content__item active">
          <div class="description">
            <p>Рубаний біфштекс із натуральної яловичини на карамелізованій булочці, зі скибочкою сиру "Чеддер",
              кетчупом, гірчицею, цибулею та маринованими огірочками.</p>
            <p>Алергени: глютен, молоко, гірчиця. Може містити сою, яйце, сліди кунжуту</p>
            <p>Зовнішній вигляд товару може відрізнятися від зображень, представлених на сайті.</p>
          </div>
        </li>
        <li class="tabs-content__item">
          <div class="characteristic">
            <p><span>Діаметр: </span>до 3 діб</p>
            <p><span>Вага: </span>20 см</p>
            <p><span>Калорійність (на 100г): </span>300 гр</p>
            <p><span>Термін зберігання: </span>295 ккал</p>
          </div>
        </li>

        <li class="tabs-content__item">

          <div class="product-rewiews">
            <h3 class="product-review__title">
              Думки наших кліентів
            </h3>
            <ul class="product-reviews__items">
              <li class="product-reviews__item">
                <figure class="product-rewiew">
                  <div class="product-review__head">
                    <img class="product-review__img" src="images/ava_previews.png" width="70" height="70"
                      alt="фото автора відгука">
                    <figcaption class="product-review__info">
                      <div class="product-review__name">Андрій</div>
                      <time class="product-review__time" datetime="2021-06-10">10.06.2021</time>
                    </figcaption>
                    <div class="stars static-stars product-reviews__stars" data-stars="5"></div>
                  </div>
                  <blockquote class="product-review__text">Доставили швидко. Товар свіжий та дуже смачний, буду ще
                    обов’язково куштувати!</blockquote>
                </figure>
              </li>
              <li class="product-reviews__item">
                <figure class="product-rewiew">
                  <div class="product-review__head">
                    <img class="product-review__img" src="images/ava_previews.png" width="70" height="70"
                      alt="фото автора відгука">
                    <figcaption class="product-review__info">
                      <div class="product-review__name">Катерина Біла</div>
                      <time class="product-review__time" datetime="2021-06-07">07.06.2021</time>
                    </figcaption>
                    <div class="stars static-stars product-reviews__stars" data-stars="4"></div>
                  </div>
                  <blockquote class="product-review__text">Цей бургер непоганий на смак, особливо, коли немає
                    можливості або часу щось готувати. Це чудовий варіант, щоб перекусити находу, але, щоб себе
                    побалувати, краще замовлю піцу</blockquote>
                </figure>
              </li>
            </ul>
          </div>

          <div class="product-feedback">
            <h3 class="product-feedback__title">
              Залишити відгук
            </h3>
            <form class="feedback" action="">
              <div class="feedback-form__row">
                <label class="feedback-form__label " for="">Ваша оцінка *</label>
                <div class="stars feedback-form__stars"></div>
              </div>
              <div class="feedback-form__inner">
                <div class="feedback-form__group">
                  <label class="feedback-form__label" for="feedback[text]">Ваш відгук</label>
                  <textarea class="feedback-form__fild feedback-form__fild--textarea" name="feedback[text]"
                    id="feedback[text]" required placeholder="Введіть текст відгука"></textarea>
                </div>

                <div class="feedback-form__group">
                  <label class="feedback-form__label" for="feedback[name]">Ім’я</label>
                  <input class="feedback-form__fild" type="text" name="feedback[name]" id="feedback[name]" required
                    placeholder="Введіть ваше ім’я"></input>
                </div>

                <div class="feedback-form__group">
                  <label class="feedback-form__label" for="feedback[e-mail]">Email *</label>
                  <input class="feedback-form__fild" type="email" name="feedback[e-mail]" id="feedback[e-mail]" required
                    placeholder="youremail@mail.com"></input>
                </div>
              </div>
              <div class="checkbox feedback-form__checkbox">
                <input class="checkbox__input sr-only" type="checkbox" id="feedback[checkbox]"
                  name="feedback[checkbox]">
                <label class="checkbox__label" for="feedback[checkbox]">Зберегти моє ім’я, email та адресу сайта в
                  цьому браузері для наступних моїх коментарів.</label>
              </div>
              <button class="btn feedback-form__btn" type="submit">Залишити відгук</button>
            </form>
          </div>

        </li>
      </ul>
    </div>
  </div>
</section>