<section class="deteils mb-120">
  <h2 class="sr-only">Additional information about the product</h2>
  <div class="container">
    <div class="tabs">
      <ul class="tabs-nav">
        <li class="tabs-nav__item">
          <a class="tabs-nav__link active" href="#description">Description</a>
        </li>
        <li class="tabs-nav__item">
          <a class="tabs-nav__link" href="#characteristic">Features</a>
        </li>
        <li class="tabs-nav__item">
          <a class="tabs-nav__link" href="#product-rewiews">Reviews <span>(2)</span></a>
        </li>
      </ul>
      <ul class="tabs-content">
        <li class="tabs-content__item active">
          <div class="description">
            <p>Chopped natural beef steak on a caramelized bun with a slice of "Cheddar cheese", ketchup, mustard,
              onions and pickles.</p>
            <p>Allergens: gluten, milk, mustard. May contain soy, egg, traces of sesame seeds.</p>
            <p>The appearance of the product may differ from the images presented on the website.</p>
          </div>
        </li>
        <li class="tabs-content__item">
          <div class="characteristic">
            <p><span>Diameter: </span>up to 3 days</p>
            <p><span>Weight: </span>20 cm</p>
            <p><span>Calorie content (per 100 g): </span>300 gr</p>
            <p><span>Shelf life: </span>295 kcal</p>
          </div>
        </li>

        <li class="tabs-content__item">

          <div class="product-rewiews">
            <h3 class="product-review__title">
              Opinions of our clients
            </h3>
            <ul class="product-reviews__items">
              <li class="product-reviews__item">
                <figure class="product-rewiew">
                  <div class="product-review__head">
                    <img class="product-review__img" src="images/ava_previews.png" width="70" height="70"
                      alt="photo by the author of the review">
                    <figcaption class="product-review__info">
                      <div class="product-review__name">Andriy</div>
                      <time class="product-review__time" datetime="2021-06-10">10.06.2021</time>
                    </figcaption>
                    <div class="stars static-stars product-reviews__stars" data-stars="5"></div>
                  </div>
                  <blockquote class="product-review__text">It was delivered quickly. The product is fresh and very
                    tasty, I will definitely try it again!</blockquote>
                </figure>
              </li>
              <li class="product-reviews__item">
                <figure class="product-rewiew">
                  <div class="product-review__head">
                    <img class="product-review__img" src="images/ava_previews.png" width="70" height="70"
                      alt="photo by the author of the review">
                    <figcaption class="product-review__info">
                      <div class="product-review__name">Kateryna Bila</div>
                      <time class="product-review__time" datetime="2021-06-07">07.06.2021</time>
                    </figcaption>
                    <div class="stars static-stars product-reviews__stars" data-stars="4"></div>
                  </div>
                  <blockquote class="product-review__text">This burger tastes pretty good, especially when you don't
                    have the opportunity or time to cook something. It's a great option for a snack on the go, but if
                    you want to treat yourself, it's better to order a pizza.</blockquote>
                </figure>
              </li>
            </ul>
          </div>

          <div class="product-feedback">
            <h3 class="product-feedback__title">
              Leave a review
            </h3>
            <form class="feedback" action="">
              <div class="feedback-form__row">
                <label class="feedback-form__label " for="">Your assessment *</label>
                <div class="stars feedback-form__stars"></div>
              </div>
              <div class="feedback-form__inner">
                <div class="feedback-form__group">
                  <label class="feedback-form__label" for="feedback[text]">Your feedback</label>
                  <textarea class="feedback-form__fild feedback-form__fild--textarea" name="feedback[text]"
                    id="feedback[text]" required placeholder="Enter the text of the review"></textarea>
                </div>

                <div class="feedback-form__group">
                  <label class="feedback-form__label" for="feedback[name]">Name</label>
                  <input class="feedback-form__fild" type="text" name="feedback[name]" id="feedback[name]" required
                    placeholder="Enter your name"></input>
                </div>

                <div class="feedback-form__group">
                  <label class="feedback-form__label" for="feedback[e-mail]">Email *</label>
                  <input class="feedback-form__fild" type="email" name="feedback[e-mail]" id="feedback[e-mail]" required
                    placeholder="youremail@mail.com"></input>
                </div>
              </div>
              <div class="checkbox feedback-form__checkbox">
                <input class="checkbox__input sr-only" type="checkbox" id="feedback[checkbox]"
                  name="feedback[checkbox]">
                <label class="checkbox__label" for="feedback[checkbox]">Save my name, email and website address in this
                  browser for future comments.</label>
              </div>
              <button class="btn feedback-form__btn" type="submit">Leave a review</button>
            </form>
          </div>

        </li>
      </ul>
    </div>
  </div>
</section>