<section class="discount mb-120">
  <div class="container">
    <h2 class="title  discount__title ">Promotions and discounts</h2>
    <div class="discount__slider swiper">
      <ul class="discount__list cols swiper-wrapper">
        <li class="discount__item swiper-slide">
          <article class="content-card">
            <figure class="content-card__head">
              <img class="content-card__img" width="370" height="300" src="images/restorants/resto_1.png"
                alt="restaurant photo">
            </figure>
            <div class="content-card__content">
              <h3 class="content-card__title">Discount on second pizza</h3>
            </div>
          </article>
        </li>
        <li class="discount__item swiper-slide">
          <article class="content-card">
            <figure class="content-card__head">
              <img class="content-card__img" width="370" height="300" src="images/restorants/resto_5.png"
                alt="restaurant photo">
            </figure>
            <div class="content-card__content">
              <h3 class="content-card__title">Free KFC potato when ordering a burger</h3>
            </div>
          </article>
        </li>
        <li class="discount__item swiper-slide">
          <article class="content-card">
            <figure class="content-card__head">
              <img class="content-card__img" width="370" height="300" src="images/restorants/resto_6.png"
                alt="restaurant photo">
            </figure>
            <div class="content-card__content">
              <h3 class="content-card__title">Black burgers on Black Friday</h3>
            </div>
          </article>
        </li>
      </ul>
      <div class="discount__dots"></div>
    </div>
  </div>
</section>