<section class="discount mb-120">

  <div class="container">
    <h2 class="title">Акуції та знижки</h2>
    <div class="discount__slider swiper">
      <ul class="discount__list swiper-wrapper">
        <li class="discount__item swiper-slide">
          <article class="content-card">
            <figure class="content-card__head">
              <img class="content-card__img" width="370" height="300" src="images/restorants/resto_1.png"
                alt="фото ресторану">
            </figure>
            <div class="content-card__content">
              <h3 class="content-card__title">Знижка на другу піцу</h3>
            </div>
          </article>
        </li>
        <li class="discount__item swiper-slide">
          <article class="content-card">
            <figure class="content-card__head">
              <img class="content-card__img" width="370" height="300" src="images/restorants/resto_5.png"
                alt="фото ресторану">
            </figure>
            <div class="content-card__content">
              <h3 class="content-card__title">Картопелька з KFC задарма при замовленні бургера</h3>
            </div>
          </article>
        </li>
        <li class="discount__item swiper-slide">
          <article class="content-card">
            <figure class="content-card__head">
              <img class="content-card__img" width="370" height="300" src="images/restorants/resto_6.png"
                alt="фото ресторану">
            </figure>
            <div class="content-card__content">
              <h3 class="content-card__title">Чорні бургери на чорний день</h3>
            </div>
          </article>
        </li>
      </ul>

      <div class="discount__dots"></div>
    </div>
  </div>
</section>