<section class="features mb-120">
  <div class="container">
    <h2 class="sr-only">Переваги сервісу доставкиSimpleFood</h2>
    <div class="features__inner" style="background-image: url('images/food_delivery.jpg');">
      <div class="features__content">
        <div class="title features__title">Залишайтеся вдома, а ми потурбуємося про їжу</div>
        <div class="features__description">
          <p>У нас є смачна їжа і ми готові доставити її до вас додому! Скористайтеся нашою доставкою прямо зараз
            та отримайте знижку!</p>
        </div>
        <ul class="features__list">
          <li class="features__item icon icon--delivery">Швидка доставка за 15 хвилин</li>
          <li class="features__item icon icon--courier">Чемні кур’єри</li>
          <li class="features__item icon icon--build">Більше 500 закладів</li>
        </ul>
        <a class="btn" href="">Детальніше</a>
      </div>
    </div>
  </div>
</section>