<section class="features mb-120">
  <div class="container">
    <h2 class="sr-only">Advantages of the SimpleFood delivery service</h2>
    <div class="features__inner" style="background-image: url('images/food_delivery.jpg');">
      <div class="features__content">
        <div class="title features__title">Stay Home and Let Us Take Care of the Food</div>
        <div class="features__description">
          <p>We have delicious food and we are ready to deliver it to your home! Use our delivery service now and get a discount!</p>
        </div>
        <ul class="features__list">
          <li class="features__item icon icon--delivery">Fast delivery in 15 minutes</li>
          <li class="features__item icon icon--courier">Friendly couriers</li>
          <li class="features__item icon icon--build">Over 500 establishments</li>
        </ul>
        <a class="btn" href="">Details</a>
      </div>
    </div>
  </div>
</section>