<header class="header">
      <div class="container">
        <nav class="header__nav">
          <a class="logo header__logo" href="#">
            <img class="logo__img" src="Images/logo.svg" height="39" width="208" alt="логотип">
          </a>
    
          <ul class="menu header__menu">
            <li class="menu__item">
              <a class="menu__link menu--current" href="#hero-section">Головна</a>
            </li>
    
            <li class="menu__item">
              <a class="menu__link" href="#popular-section">Страви</a>
            </li>
    
            <li class="menu__item">
              <a class="menu__link" href="#footer-section">Контакти</a>
            </li>
          </ul>
    
          <div class="header__actions">
            <button class="btn--sm icon icon--search" type="button">
              <span class="sr-only">Шукати товари</span>
            </button>
            <button class="btn--sm header__btn icon icon--cart" type="button">
              <span class="sr-only">Кількість товварів у кошику</span>
              <span class="btn-counter">4</span>
            </button>
            <button class="burger icon icon--burger-menu" type="button">
              <span class="sr-only">Відкрити меню</span>
            </button>
          </div>
    
        </nav>
      </div>
    
      <div class="mobile-nav">
        <div class="mobile-nav__head">
          <a class="logo" href="">
            <img class="logo__img" src="images/logo.svg" width="200" height="39" alt="логотип SimpleFood">
          </a>
          <buttton class="close-btn icon icon--close" type="button">
            <span class="sr-only">Сховати меню</span>
          </buttton>
        </div>
        <ul class="menu mobile-nav__menu">
          <li class="menu__item">
            <a class="menu__link  menu__link--current" href="#hero-section">Головна</a>
          </li>
    
          <li class="menu__item">
            <a class="menu__link" href="#popular-section">Страви</a>
          </li>
    
          <li class="menu__item">
            <a class="menu__link" href="#footer-section">Контакти</a>
          </li>
        </ul>
        <address class="contacts mobile-nav__contacts">
          <ul class="contacts__list">
            <li class="contacts__item">
              <a href="" class="contacts__link icon icon--address">вул. Т.Г.Шевченко, 1</a>
            </li>
            <li class="contacts__item">
              <a href="tel:380501112233" class="contacts__link icon icon--phone">380501112233</a>
            </li>
            <li class="contacts__item">
              <a href="mailto:support@sfood.com" class="contacts__link icon icon--email"> support@sfood.com </a>
            </li>
          </ul>
    
          <ul class="social">
            <li class="social__item">
              <a class="social__link" href="">
                <span class="sr-only">Відвідати сторінку у фейсбук </span>
                <span class="social__icon"
                  style="-webkit-mask-image: url('images/sprite.svg#icon-facebook'); mask-image: url('images/sprite.svg#icon-facebook')"></span>
              </a>
            </li>
    
            <li class="social__item">
              <a class="social__link" href="">
                <span class="sr-only">Відвідати сторінку у твітер</span>
                <span class="social__icon"
                  style="-webkit-mask-image:url('images/sprite.svg#icon-twitter'); mask-image:url('images/sprite.svg#icon-twitter')"></span>
              </a>
            </li>
    
            <li class="social__item">
              <a class="social__link" href="">
                <span class="sr-only">Відвідати сторінку у інстгарам</span>
                <span class="social__icon"
                  style="-webkit-mask-image: url('images/sprite.svg#icon-instagram'); mask-image: url('images/sprite.svg#icon-instagram')"></span>
              </a>
            </li>
    
          </ul>
        </address>
      </div>
    </header>