<section class="hero mb-120" style="background-image: url('images/scooter_guy.png');" id="hero-section">
  <h2 class="sr-only">Переваги сервісу доставки SimpleFood</h2>
  <div class="container">
    <div class="hero__contetnt">
      <div class="hero__text-wraper">
        <p class="hero__title">
          Доставка <span class="text-orange">за 15 ХВИЛИН</span>
        </p>
        <div class="hero__desription">
          <p>
            Найшвидший сервіс доставки їжі у вашому місті. Якщо запізнемось - то доставка за наш рахунок
          </p>
        </div>
      </div>
      <div class="hero__actions">
        <a class="btn headear--button" href="#">Замовити</a>
        <a class="td-link hero__detail" href="#">Детальніше</a>
      </div>
    </div>
  </div>
</section>