<section class="interesting mb-120">
  <div class="container">
    <div class="interesting__head">
      <h2 class="title interesting__title">You may be interested</h2>
      <div class="interesting__actions">
        <button class="interesting__btn interesting__btn--prev" type="button"></button>
        <button class="interesting__btn interesting__btn--next" type="button"></button>
      </div>
    </div>
    <div class="interesting__slider swiper">
      <ul class="interesting-slider swiper-wrapper">
        <li class="interesting-slider__item swiper-slide">
          <article class="product-cart">
            <a class="product-cart__link" href="">
              <h3 class="product-cart__title">Cheeseburger with lettuce leaves</h3>
            </a>
            <a class="product-cart__link" href="">
              <img class="product-cart__img" src="images/burger_icons/cheese_burger.png" height="140" width="140"
                alt="Cheese burger">
            </a>
            <div class="product-cart__price">
              160 <span class="product-cart__currency">$</span>
            </div>
            <button class="btn btn--md product-cart__btn" type="button">Add to cart</button>
          </article>
        </li>
        <li class="interesting-slider__item swiper-slide">
          <article class="product-cart">
            <a class="product-cart__link" href="">
              <h3 class="product-cart__title">Bifburger</h3>
            </a>
            <a class="product-cart__link" href="">
              <img class="product-cart__img" src="images/burger_icons/bifburger.png" height="140" width="140"
                alt="bifburger">
            </a>
            <div class="product-cart__price">
              160 <span class="product-cart__currency">$</span>
            </div>
            <button class="btn btn--md product-cart__btn" type="button">Add to cart</button>
          </article>
        </li>
        <li class="interesting-slider__item swiper-slide">
          <article class="product-cart">
            <a class="product-cart__link" href="">
              <h3 class="product-cart__title">Royal burger</h3>
            </a>
            <a class="product-cart__link" href="">
              <img class="product-cart__img" src="images/burger_icons/royal_burger.png" height="140" width="140"
                alt="royal burger">
            </a>
            <div class="product-cart__price">
              160 <span class="product-cart__currency">$</span>
            </div>
            <button class="btn btn--md product-cart__btn" type="button">Add to cart</button>
          </article>
        </li>
        <li class="interesting-slider__item swiper-slide">
          <article class="product-cart">
            <a class="product-cart__link" href="">
              <h3 class="product-cart__title">Chiken burger</h3>
            </a>
            <a class="product-cart__link" href="">
              <img class="product-cart__img" src="images/burger_icons/chiken_burger.png" height="140" width="140"
                alt="Chiken burger">
            </a>
            <div class="product-cart__price">
              160 <span class="product-cart__currency">$</span>
            </div>
            <button class="btn btn--md product-cart__btn" type="button">Add to cart</button>
          </article>
        </li>
        <li class="interesting-slider__item swiper-slide">
          <article class="product-cart">
            <a class="product-cart__link" href="">
              <h3 class="product-cart__title">Black burger</h3>
            </a>
            <a class="product-cart__link" href="">
              <img class="product-cart__img" src="images/burger_icons/black_burger.png" height="140" width="140"
                alt="Black burger">
            </a>
            <div class="product-cart__price">
              160 <span class="product-cart__currency">$</span>
            </div>
            <button class="btn btn--md product-cart__btn" type="button">Add to cart</button>
          </article>
        </li>
        <li class="interesting-slider__item swiper-slide">
          <article class="product-cart">
            <a class="product-cart__link" href="">
              <h3 class="product-cart__title">Bifburger</h3>
            </a>
            <a class="product-cart__link" href="">
              <img class="product-cart__img" src="images/burger_icons/bifburger.png" height="140" width="140"
                alt="bifburger">
            </a>
            <div class="product-cart__price">
              160 <span class="product-cart__currency">$</span>
            </div>
            <button class="btn btn--md product-cart__btn" type="button">Add to cart</button>
          </article>
        </li>

      </ul>
    </div>
  </div>
</section>