<section class="interesting mb-120">
  <div class="container">
    <div class="interesting__head">
      <h2 class="title interesting__title">Вас може зацікавити</h2>
      <div class="interesting__actions">
        <button class="interesting__btn interesting__btn--prev" type="button"></button>
        <button class="interesting__btn interesting__btn--next" type="button"></button>
      </div>
    </div>
    <div class="interesting__slider swiper">
      <ul class="interesting-slider swiper-wrapper">
        <li class="interesting-slider__item swiper-slide">
          <article class="product-cart">
            <a class="product-cart__link" href="">
              <h3 class="product-cart__title">Чізбургер з листям салату</h3>
            </a>
            <a class="product-cart__link" href="">
              <img class="product-cart__img" src="images/burger_icons/cheese_burger.png" height="140" width="140"
                alt="Чизбургер с листьями салата">
            </a>
            <div class="product-cart__price">
              160 <span class="product-cart__currency">грн.</span>
            </div>
            <button class="btn btn--md product-cart__btn" type="button">До кошика</button>
          </article>
        </li>
        <li class="interesting-slider__item swiper-slide">
          <article class="product-cart">
            <a class="product-cart__link" href="">
              <h3 class="product-cart__title">Чізбургер</h3>
            </a>
            <a class="product-cart__link" href="">
              <img class="product-cart__img" src="images/burger_icons/cheese_burger.png" height="140" width="140"
                alt="Чизбургер с листьями салата">
            </a>
            <div class="product-cart__price">
              160 <span class="product-cart__currency">грн.</span>
            </div>
            <button class="btn btn--md product-cart__btn" type="button">До кошика</button>
          </article>
        </li>
        <li class="interesting-slider__item swiper-slide">
          <article class="product-cart">
            <a class="product-cart__link" href="">
              <h3 class="product-cart__title">Чізбургер з листям салату</h3>
            </a>
            <a class="product-cart__link" href="">
              <img class="product-cart__img" src="images/burger_icons/cheese_burger.png" height="140" width="140"
                alt="Чизбургер с листьями салата">
            </a>
            <div class="product-cart__price">
              160 <span class="product-cart__currency">грн.</span>
            </div>
            <button class="btn btn--md product-cart__btn" type="button">До кошика</button>
          </article>
        </li>
        <li class="interesting-slider__item swiper-slide">
          <article class="product-cart">
            <a class="product-cart__link" href="">
              <h3 class="product-cart__title">Чізбургер з листям салату</h3>
            </a>
            <a class="product-cart__link" href="">
              <img class="product-cart__img" src="images/burger_icons/cheese_burger.png" height="140" width="140"
                alt="Чизбургер с листьями салата">
            </a>
            <div class="product-cart__price">
              160 <span class="product-cart__currency">грн.</span>
            </div>
            <button class="btn btn--md product-cart__btn" type="button">До кошика</button>
          </article>
        </li>
        <li class="interesting-slider__item swiper-slide">
          <article class="product-cart">
            <a class="product-cart__link" href="">
              <h3 class="product-cart__title">Чізбургер з листям салату</h3>
            </a>
            <a class="product-cart__link" href="">
              <img class="product-cart__img" src="images/burger_icons/cheese_burger.png" height="140" width="140"
                alt="Чизбургер с листьями салата">
            </a>
            <div class="product-cart__price">
              160 <span class="product-cart__currency">грн.</span>
            </div>
            <button class="btn btn--md product-cart__btn" type="button">До кошика</button>
          </article>
        </li>
        <li class="interesting-slider__item swiper-slide">
          <article class="product-cart">
            <a class="product-cart__link" href="">
              <h3 class="product-cart__title">Чізбургер з листям салату</h3>
            </a>
            <a class="product-cart__link" href="">
              <img class="product-cart__img" src="images/burger_icons/cheese_burger.png" height="140" width="140"
                alt="Чизбургер с листьями салата">
            </a>
            <div class="product-cart__price">
              160 <span class="product-cart__currency">грн.</span>
            </div>
            <button class="btn btn--md product-cart__btn" type="button">До кошика</button>
          </article>
        </li>

      </ul>
    </div>
  </div>
</section>