<div class="paginations">
  <ul class="paginations__list">
    <li class="paginations__item">
      <a class="paginations__link paginations__link--prev paginations__link--disabled icon icon--chevron-left">
        <span class="sr-only">Повернутися на попередню сторінку</span>
      </a>
    </li>
    <li class="paginations__item">
      <a class="paginations__link paginations__link--current" href="">1</a>
    </li>
    <li class="paginations__item">
      <a class="paginations__link" href="">2</a>
    </li>
    <li class="paginations__item">
      <a class="paginations__link paginations__link--dots" href="">...</a>
    </li>
    <li class="paginations__item">
      <a class="paginations__link" href="">9</a>
    </li>
    <li class="paginations__item">
      <a class="paginations__link" href="">10</a>
    </li>
    <li class="paginations__item">
      <a class="paginations__link paginations__link--next paginations__link--active icon icon--chevron-right" href="">
        <span class="sr-only">Перейти на наступну сторінку</span>
      </a>
    </li>
  </ul>
</div>