<section class="popular mb-120" id="popular-section">
  <div class="container">
    <h2 class="title popular__title">Popular in categories</h2>

    <ul class="categories-nav popular__nav">
      <li class="categories-nav__item">
        <button class="categories-nav__btn icon icon--burger" data-filter="category-1" type="button">Burgers</button>
      </li>
      <li class="categories-nav__item">
        <button class="categories-nav__btn icon icon--pizza" data-filter="category-2" type="button">Pizza</button>
      </li>
      <li class="categories-nav__item">
        <button class="categories-nav__btn icon icon--sandwiches" data-filter="category-3"
          type="button">Sandwiches</button>
      </li>
      <li class="categories-nav__item">
        <button class="categories-nav__btn icon icon--asia" data-filter="category-4" type="button">Asian
          cuisine</button>
      </li>
      <li class="categories-nav__item">
        <button class="categories-nav__btn icon icon--sets" data-filter="category-5" type="button">Sets</button>
      </li>

    </ul>

    <ul class="categories-list cols--5 popular__list">


      <li class="mix categeories-list__item category-3">
        <article class="product-cart">
          <a class="product-cart__link" href="">
            <h3 class="product-cart__title">Sandwich</h3>
          </a>
          <a class="product-cart__link" href="">
            <img class="product-cart__img" src="images/burger_icons/sandwich.png" height="140" width="140"
              alt="sandwich">
          </a>
          <div class="product-cart__price">
            260 <span class="product-cart__currency">$</span>
          </div>
          <button class="btn btn--md product-cart__btn" type="button">Add to cart</button>
        </article>

      </li>

      <li class="mix categeories-list__item category-2">
        <article class="product-cart">
          <a class="product-cart__link" href="">
            <h3 class="product-cart__title">Pizza hawaii</h3>
          </a>
          <a class="product-cart__link" href="">
            <img class="product-cart__img" src="images/burger_icons/pizza_hawaii.png" height="140" width="140"
              alt="pizza hawaii">
          </a>
          <div class="product-cart__price">
            190 <span class="product-cart__currency">$</span>
          </div>
          <button class="btn btn--md product-cart__btn" type="button">Add to cart</button>
        </article>
      </li>

      <li class="mix categories-list__item category-1">
        <article class="product-cart">
          <a class="product-cart__link" href="">
            <h3 class="product-cart__title">Cheeseburger with lettuce leaves</h3>
          </a>
          <a class="product-cart__link" href="">
            <img class="product-cart__img" src="images/burger_icons/cheese_burger.png" height="140" width="140"
              alt="Cheeseburger with lettuce leaves">
          </a>
          <div class="product-cart__price">
            160 <span class="product-cart__currency">$</span>
          </div>
          <button class="btn btn--md product-cart__btn" type="button">Add to cart</button>
        </article>
      </li>


      <li class="mix categeories-list__item category-3">
        <article class="product-cart">
          <a class="product-cart__link" href="">
            <h3 class="product-cart__title">Sandwich long</h3>
          </a>
          <a class="product-cart__link" href="">
            <img class="product-cart__img" src="images/burger_icons/sandwich_long.png" height="140" width="140"
              alt="sandwich long">
          </a>
          <div class="product-cart__price">
            260 <span class="product-cart__currency">$</span>
          </div>
          <button class="btn btn--md product-cart__btn" type="button">Add to cart</button>
        </article>

      </li>

      <li class="mix categeories-list__item category-4">
        <article class="product-cart">
          <a class="product-cart__link" href="">
            <h3 class="product-cart__title">Garlic soup</h3>
          </a>
          <a class="product-cart__link" href="">
            <img class="product-cart__img" src="images/burger_icons/garlic-soup.png" height="140" width="140"
              alt="garlic soup">
          </a>
          <div class="product-cart__price">
            199 <span class="product-cart__currency">$</span>
          </div>
          <button class="btn btn--md product-cart__btn" type="button">Add to cart</button>
        </article>
      </li>

      <li class="mix categeories-list__item category-5">
        <article class="product-cart">
          <a class="product-cart__link" href="">
            <h3 class="product-cart__title">Chicken burger</h3>
          </a>
          <a class="product-cart__link" href="">
            <img class="product-cart__img" src="images/burger_icons/chiken_burger.png" height="140" width="140"
              alt="Chicken burger">
          </a>
          <div class="product-cart__price">
            160 <span class="product-cart__currency">$</span>
          </div>
          <button class="btn btn--md product-cart__btn" type="button">Add to cart</button>
        </article>
      </li>

      <li class="mix categeories-list__item category-1">
        <article class="product-cart">
          <a class="product-cart__link" href="">
            <h3 class="product-cart__title">Cheeseburger with lettuce leaves</h3>
          </a>
          <a class="product-cart__link" href="">
            <img class="product-cart__img" src="images/burger_icons/cheese_burger.png" height="140" width="140"
              alt="Cheeseburger with lettuce leaves">
          </a>
          <div class="product-cart__price">
            160 <span class="product-cart__currency">$</span>
          </div>
          <button class="btn btn--md product-cart__btn" type="button">Add to cart</button>
        </article>
      </li>

      <li class="mix categeories-list__item category-2">
        <article class="product-cart">
          <a class="product-cart__link" href="">
            <h3 class="product-cart__title">Pizza paperoni</h3>
          </a>
          <a class="product-cart__link" href="">
            <img class="product-cart__img" src="images/burger_icons/pizza_paperoni.png" height="140" width="140"
              alt="pizza paperoni">
          </a>
          <div class="product-cart__price">
            190 <span class="product-cart__currency">$</span>
          </div>
          <button class="btn btn--md product-cart__btn" type="button">Add to cart</button>
        </article>
      </li>


      <li class="mix categeories-list__item category-4">
        <article class="product-cart">
          <a class="product-cart__link" href="">
            <h3 class="product-cart__title">Borsch</h3>
          </a>
          <a class="product-cart__link" href="">
            <img class="product-cart__img" src="images/burger_icons/borsch.png" height="140" width="140" alt="borsch">
          </a>
          <div class="product-cart__price">
            199 <span class="product-cart__currency">$</span>
          </div>
          <button class="btn btn--md product-cart__btn" type="button">Add to cart</button>
        </article>
      </li>

      <li class="mix categeories-list__item category-5">
        <article class="product-cart">
          <a class="product-cart__link" href="">
            <h3 class="product-cart__title">Chicken burger</h3>
          </a>
          <a class="product-cart__link" href="">
            <img class="product-cart__img" src="images/burger_icons/chiken_burger.png" height="140" width="140"
              alt="Chicken burger">
          </a>
          <div class="product-cart__price">
            160 <span class="product-cart__currency">$</span>
          </div>
          <button class="btn btn--md product-cart__btn" type="button">Add to cart</button>
        </article>
      </li>

    </ul>

    <button class="td-link popular__btn" type="button">Show more</button>
  </div>
</section>