<div class="product-page__info">
  <h1 class="title product-page__title">Cheeseburger with lettuce</h1>
  <div class="stars static-stars product-page__stars" data-stars="4"></div>
  <div class="product-page__price">160 <span class="currency">$</span></div>
  <div class="product-page__actions">
    <div class="quantity product-page__quantity">
      <button class="quantity__btn quantity__btn--minus icon icon--minus" type="button">
        <span class="sr-only">decrease quantity of products</span>
      </button>
      <label class="sr-only" for="quantity">enter quantity of products</label>
      <input class="quantity__input" id="quantity" type="text" value="0" min="0" max="99" maxlength="2"
        pattern="[0-9*]">
      <button class="quantity__btn quantity__btn--plus icon icon--plus" type="button">
        <span class="sr-only">increase quantity of products</span>
      </button>
    </div>
    <button class="btn icon icon--cart product-page__btn" type="button">Add to cart</button>
  </div>
  <div class="delivery product-page__delivery">
    <h2 class="delivery__title">Delivery and payment</h2>
    <ul class="delivery__list">
      <li class="delivery__item">Minimum order amount - 160 $.</li>
      <li class="delivery__item">Delivery time - 80-140 min.</li>
      <li class="delivery__item">Payment is made only by bank card.</li>
      <li class="delivery__item">The final order amount is formed after the goods are collected.</li>
    </ul>
    <a class="td-link delivery__link" href="">Learn more</a>
  </div>
</div>