<div class="product-page__info">
  <h1 class="title product-page__title">Чізбургер з листям салату</h1>
  <div class="stars static-stars product-page__stars" data-stars="4"></div>
  <div class="product-page__price">160 <span class="currency">грн</span></div>
  <div class="product-page__actions">
    <div class="quantity product-page__quantity">
      <button class="quantity__btn quantity__btn--minus icon icon--minus" type="button">
        <span class="sr-only">зменшити кількість товарів</span>
      </button>
      <label class="sr-only" for="quantity">ввести кількість товарів</label>
      <input class="quantity__input" id="quantity" type="text" value="0" min="0" max="99" maxlength="2"
        pattern="[0-9*]">
      <button class="quantity__btn quantity__btn--plus icon icon--plus" type="button">
        <span class="sr-only">збільшити кількість товарів</span>
      </button>
    </div>
    <button class="btn icon icon--cart product-page__btn" type="button">Додати до кошика</button>
  </div>
  <div class="delivery product-page__delivery">
    <h2 class="delivery__title">Доставка та оплата</h2>
    <ul class="delivery__list">
      <li class="delivery__item">Мінімальна сума замовлення — 160 грн.</li>
      <li class="delivery__item">Час доставки замовлення — 80-140 мин.</li>
      <li class="delivery__item">Оплата здійснюється тільки банківською карткою.</li>
      <li class="delivery__item">Остаточна сума замовлення формується після збору товарів.</li>
    </ul>
    <a class="td-link delivery__link" href="">Детальніше</a>
  </div>
</div>