<div class="product-page__slider">
  <div class="product-slider swiper">
    <div class="product-slider__items swiper-wrapper">
      <a class="swiper-slide" href="images/burger_icons/cheeseburger-huge.jpg" data-lg-size="750-750">
        <img class="product-slider__img" src="images/burger_icons/cheeseburger-huge.jpg" alt="бургер">
      </a>
      <a class="swiper-slide" href="images/burger_icons/cheeseburger-huge.jpg" data-lg-size="750-750">
        <img class="product-slider__img" src="images/burger_icons/cheeseburger-huge.jpg" alt="бургер">
      </a>
      <a class="swiper-slide" href="images/burger_icons/cheeseburger-huge.jpg" data-lg-size="750-750">
        <img class="product-slider__img" src="images/burger_icons/cheeseburger-huge.jpg" alt="бургер">
      </a>
      <a class="swiper-slide" href="images/burger_icons/cheeseburger-huge.jpg" data-lg-size="750-750">
        <img class="product-slider__img" src="images/burger_icons/cheeseburger-huge.jpg" alt="бургер">
      </a>
      <a class="swiper-slide" href="images/burger_icons/cheeseburger-huge.jpg" data-lg-size="750-750">
        <img class="product-slider__img" src="images/burger_icons/cheeseburger-huge.jpg" alt="бургер">
      </a>
    </div>
    <div class="product-slider__btns">

      <button class="product-slider__btn product-slider__btn--prev icon icon--chevron-left">
        <span class="sr-only">гортати назад</span>
      </button>
      <button class="product-slider__btn product-slider__btn--next icon icon--chevron-right">
        <span class="sr-only">гортати вперед</span>
      </button>
    </div>
  </div>
</div>