<section class="reviews reviews--mb">
  <div class="container">
    <h2 class="title">Customer reviews</h2>
    <div class="reviews__slider swiper">
      <ul class="reviews__list swiper-wrapper">
        <li class="reviews__item swiper-slide">
          <figure class="reviews-card">
            <img class="reviews-card__img" src="images/dariya_img.jpg" alt="photo of the person who made the call">
            <div class="reviews-card__content">
              <blockquote class="reviews-card__text">
                <p>SimpleFood is one of the best restaurant delivery services in the city. Their website and app are
                  very user-friendly, and their delivery people are very polite and punctual. The company often holds
                  promotions and gives discounts on delivery - I definitely recommend it!</p>
              </blockquote>
              <figcaption class="reviews-card__info">
                <div class="reviews-card__name">Daria</div>
                <span class="reviews-card__details">A connoisseur of delicious food</span>
              </figcaption>
            </div>
          </figure>
        </li>

        <li class="reviews__item swiper-slide">
          <figure class="reviews-card">
            <img class="reviews-card__img" src="images/dariya_img.jpg" alt="photo of the person who made the call">
            <div class="reviews-card__content">
              <blockquote class="reviews-card__text">
                <p>SimpleFood is one of the best restaurant delivery services in the city. Their website and app are
                  very user-friendly, and their delivery people are very polite and punctual. The company often holds
                  promotions and gives discounts on delivery - I definitely recommend it!</p>
              </blockquote>
              <figcaption class="reviews-card__info">
                <div class="reviews-card__name">Daria</div>
                <span class="reviews-card__details">A connoisseur of delicious food</span>
              </figcaption>
            </div>
          </figure>
        </li>
        <li class="reviews__item swiper-slide">
          <figure class="reviews-card">
            <img class="reviews-card__img" src="images/dariya_img.jpg" alt="photo of the person who made the call">
            <div class="reviews-card__content">
              <blockquote class="reviews-card__text">
                <p>SimpleFood is one of the best restaurant delivery services in the city. Their website and app are
                  very user-friendly, and their delivery people are very polite and punctual. The company often holds
                  promotions and gives discounts on delivery - I definitely recommend it!</p>
              </blockquote>
              <figcaption class="reviews-card__info">
                <div class="reviews-card__name">Daria</div>
                <span class="reviews-card__details">A connoisseur of delicious food</span>
              </figcaption>
            </div>
          </figure>
        </li>
        <li class="reviews__item swiper-slide">
          <figure class="reviews-card">
            <img class="reviews-card__img" src="images/dariya_img.jpg" alt="photo of the person who made the call">
            <div class="reviews-card__content">
              <blockquote class="reviews-card__text">
                <p>SimpleFood is one of the best restaurant delivery services in the city. Their website and app are
                  very user-friendly, and their delivery people are very polite and punctual. The company often holds
                  promotions and gives discounts on delivery - I definitely recommend it!</p>
              </blockquote>
              <figcaption class="reviews-card__info">
                <div class="reviews-card__name">Daria</div>
                <span class="reviews-card__details">A connoisseur of delicious food</span>
              </figcaption>
            </div>
          </figure>
        </li>
      </ul>
      <div class="reviews__actions">
        <button class="reviews__btn reviews__btn--prev" type="button"></button>
        <div class="reviews__dots"></div>
        <button class="reviews__btn reviews__btn--next" type="button"></button>
      </div>
    </div>
  </div>
</section>